<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Orders</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div style="padding-left: 0 " class="col-lg-2">
                        <input class="form-control" type="text" placeholder="set date from" id="dateFrom">
                    </div>
                    <div style="padding-left: 0" class="col-lg-2">
                        <input class="form-control" type="text" placeholder="set date to" id="dateTo">
                    </div>
                    <input type="button" value="Get Archive" class="btn btn-success btn-md">
                </div>
                <div class="ibox-content">
                    <table datatable="" class="table">
                        <thead>
                        <tr>
                            <th ng-if="sort !== 'orderName'"><a ng-click="sortOrders('orderName')">Order Name</a></th>
                            <th ng-if="direction === 'DESC' && sort === 'orderName'"><a ng-click="sortOrders('orderName')">Order Name &darr;</a></th>
                            <th ng-if="direction === 'ASC' && sort === 'orderName'"><a ng-click="sortOrders('orderName')">Order Name &uarr;</a></th>
                            <th>Tracking Number</th>
                            <th ng-if="sort !== 'address'"><a ng-click="sortOrders('address')">Delivery Address</a></th>
                            <th ng-if="direction === 'DESC' && sort === 'address'"><a ng-click="sortOrders('address')">Delivery Address &darr;</a></th>
                            <th ng-if="direction === 'ASC' && sort === 'address'"><a ng-click="sortOrders('address')">Delivery Address &uarr;</a></th>
                            <th>District</th>
                            <th>Postcode</th>
                            <th>Province</th>
                            <th>Drop Off Partner</th>
                            <th>Weight</th>
                            <th>Order Status</th>
                            <th>Command</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in orderList" class="cursor-pointer">
                            <td><a ui-sref="index.orders.view({id: order.id})" ng-bind="order.orderName"></a></td>
                            <td></td>
                            <td ng-bind="order.address"></td>
                            <td ng-bind="order.district"></td>
                            <td ng-bind="order.postcode"></td>
                            <td ng-bind="order.province"></td>
                            <td ng-bind="order.serviceType | serviceType: 'listName'"></td>
                            <td></td>
                            <td class="center"><span class="label label-primary">Pending</span></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-success">Label</button>
                                <button type="button" class="btn btn-sm btn-success"
                                        ng-click="getArchiveTaxInvoice(order)">
                                    Invoice
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<div class="row text-center" ng-show="pagination.pages > 1">
    <pagination
            total-items="pagination.count"
            items-per-page="pagination.pageLimit"
            ng-model="pagination.currentPage"
            ng-change="pageChanged()">
    </pagination>
</div>


<script>
    $( function() {
        $( "#dateFrom" ).datepicker();
        $( "#dateTo" ).datepicker();
    } );
</script>