/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #4d9fd7;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #4d9fd7;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #313131;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.bg-primary {
    background: #4D9FD7 url(".../img/Channel-Squid-Tentacles.png") no-repeat center 0;
    padding:160 0 50 0px;
   
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #4d9fd7;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #4d9fd7!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #4d9fd7;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #4d9fd7;
    }
}

.fb-auth-button {
    background: url("../img/button-login-with-facebook.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    height: 55px;
    width: 155px;
    border: none;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-color: black;
    /*background-image: url(../img/bg-header.jpg);*/
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
	font-size: 46px !important;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255,255,255,1);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 70%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
    height: 250px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
    font-size: 12pt;
    text-align: center;
}

.office-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.office-box .office-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(77,159,215,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.office-box .office-box-caption .office-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.office-box .office-box-caption .office-box-caption-content .project-category,
.office-box .office-box-caption .office-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.office-box .office-box-caption .office-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.office-box .office-box-caption .office-box-caption-content .project-name {
    font-size: 18px;
}

.office-box:hover .office-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .office-box .office-box-caption .office-box-caption-content .project-category {
        font-size: 16px;
    }

    .office-box .office-box-caption .office-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #4d9fd7;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #4d9fd7;
    color: #fff;
    background-color: #4d9fd7;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #313131;
    color: #fff;
    background-color: #313131;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}
.pink-box{
background-color:#f59678;
color:white;
padding:180px 60px 0 60px; 
height:422px;
text-align: center;

}
.pink-box {
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    padding-top: 25%;
}
}
.imgbox
{
width:100%;
height:100%;

}
.imgbox img
{
width:100%;
height:100%;

}


.navbar-brand {
    padding: 22px 15px;
    background: url("../img/imageedit_3_6701148137.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    height: 57px;
    width: 225px;
}


.dis-padding{
    padding-left: 0px;
    padding-right:0px;
}
.blue{background-color:#94c5e6;}
.gray{background-color:#f8f8f8;}
.margin-top{margin-top:100px;}
.mb-5{margin-bottom:3.5em;}

#contact input[type="text"]{

width:30%; 
color:#dbdbdb;
border:1px solid #dbdbdb;
height: 100%;
padding:6px;
}

#contact input[type="submit"]{

background-color: black;
color:white;
border: none;
height: 100%;
padding:6px;
}

#contact-email div.emailinput{
    width:100%;
    margin: 0 auto;
}

.pace {
    display: none;
}

.navbar-default .navbar-nav>li>a:not(.page-scroll):focus,
.navbar-default .navbar-nav>li>a:not(.page-scroll):hover{
    background: rgb(72, 98, 163);
    opacity: 1;
}


.azm-social {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #fff;
    text-align: center;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.azm-social:hover, .azm-social:focus, .azm-social:active { outline: 0; opacity: 0.8; color: #fff; }

.azm-btn {
    height: 48px;
    margin: 8px;
    padding: 13px 17px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.azm-btn i { padding-right: 27px; font-size: 21px; line-height: 21px; vertical-align: top; }

.azm-btn i:after {
    content: "";
    position: absolute;
    top: -8px;
    left: 70%;
    width: 1px;
    height: 36px;
    background: #ccc;
    background: rgba(255, 255, 255, 0.3);
}

.azm-border-bottom {
    padding-top: 12px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.azm-pill {
    -moz-border-radius: 400px; -webkit-border-radius: 400px; border-radius: 400px;
}

.azm-shadow-bottom {
    position: relative;
    overflow: hidden;
}

.azm-shadow-bottom:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.1);
}

.azm-facebook { background: #4862a3; }

.navbar-default.affix .nav > li>a.azm-social,
.navbar-default.nav > li>a.azm-social{
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
}

.container-fluid {
    max-width: 1600px;
}


#slides_control > div{
    height: 200px;
}
img{
    margin:auto;
    width: 400px;
}

.carousel-inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    left: 0;
    height: 100%;
    top: 0;
}

.carousel-inner>.item,
.carousel-inner>.item>img{
    width: 100%;
    height: 100%;
}

.carousel-caption {
    bottom: 40%;
}

.carousel-caption > h1 {
    font-size: 42px;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);
    line-height: 70px;
    letter-spacing: 0px;
}


.lang-sm {
    cursor: pointer;
}

.img-box {
    position: relative;
    height: 200px;
}

.img-box img {
    width: 100%;
    height: auto;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);

    max-width: 168px;
    max-height: 168px;
}

.flag {
    width: 25px;
    height: 15px;
    cursor: pointer;
    background: url(flags.png) no-repeat
}

.span-flag {
color: #fff;
}

.affix .span-flag {
    color: #222;
}

.carousel-caption h2 {
    font-size: 48px;
}

.flag.flag-gb {background-position: -25px 0}
.flag.flag-th {background-position: 0 -15px}

@media (max-width: 767px) {
    header {
        min-height: 60%;
    }

    .left.carousel-control,
    .right.carousel-control{
        display: none;
    }

    .carousel-caption h2 {
        font-size: 15px;
    }

    .carousel-caption .btn {
        padding: 7.5px 15px;
    }
    .carousel-caption {
        bottom: 10%;
    }

    .nav > li:first-child {
        padding: 0 16px;
    }

    .navbar-toggle {
        margin-top: 14px;
    }

}

@media (min-width: 768px) {
    .container-fluid {
        padding: 1px;
    }

    .navbar-default .nav > li>a {
        padding:20px;
    }
}

/*Modal login*/


/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }
}

div[ng-message],
ng-messages > *,
.error {
    color: red
}

.carousel-caption h2 {
    margin-bottom: 20px;
}