.info-section{
    padding: 58px 0 0;
}
.info-section.landing{ height: auto; }
.info-section.landing .navbar{ background-color: #fff; }
.info-section.landing .navbar-nav{padding-top:13px;}
.info-section.landing .navbar-default.affix .lang-list li{
    border-color: #4d9fd7;
}
.info-section .ads{
    background: #4d9fd7;
    padding: 50px;
    color: #fff;
    text-align: center;
}
.info-section .ads h2{
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
.info-section > .container{
    height: 100%;
}
.info-section .video-box{
    border: none;
    width: 100%;
    min-height: 600px;
}
.info-section .navbar-default a {
    color: #4d9fd7 !important;
}
.info-section.landing .lang-list li{
    border-color: #4d9fd7;
}
.info-section .map-holder{
    height: 500px;
    margin: 0 0 10px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .3);
    overflow: hidden;
}
.info-section .map{
    height: 100%;
    width: 100%;
}
.info-section .map-holder .panel,
.info-section .map-holder .detail-panel{
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, .3);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 0;
    overflow: auto;
    margin: 0;
    padding: 10px;
    text-align: left;
    width: 300px;
    z-index: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
}
.info-section .map-holder.open .panel,
.info-section .map-holder.detail .detail-panel{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.info-section .map-holder .panel .btn{
    text-transform: none;
}
.info-section .list,
.info-section .list ul{
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
.info-section .list ul{
    padding-left: 30px;
    margin: 0;
}
.info-section .list ul li{
    padding: 2px 2px 2px 18px;
    position: relative;
    cursor: pointer;
}
.info-section .list ul li:after{
    content: "";
    background: url('../img/map-marker-icon-red.png') no-repeat;
    background-size: contain;
    left: 0;
    top: 3px;
    width: 20px;
    height: 16px;
    position: absolute;

}
.info-section .list .active{
    background: #00aced;
}
.info-section .toolbar {
    background: #4d9fd7;
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}
.info-section .toolbar .btn{
    background: none;
    outline: none;
}
.info-section .toolbar .btn.active{
    color: #fff;
}
.info-section .toolbar .btn.active,
.info-section .toolbar .btn:focus,
.info-section .toolbar .btn:active{
    box-shadow: none;
    -webkit-box-shadow: none;
}
.info-section .map-holder .detail-panel{
    padding: 0;
}
.info-section .map-holder .heading{
    background: #db4437;
    color: #fff;
    min-height: 0;
}
.info-section .map-holder .heading .title{
    margin: 0;
    padding: 10px;
}
.info-section .map-holder .img-holder{
    height: 200px;
    overflow: hidden;
    position: relative;
}
.info-section .map-holder .img-holder img{
    display: block;
    height: 100%;
    width: 100%;
}
.info-section .contact-list{
    list-style: none;
    margin: 0;
    padding: 10px 20px;
}
.info-section .contact-list li{
    margin: 5px 0;
}
.info-section .contact-list li:first-child{
    margin-top: 0;
}
.info-section .note{
    color: #777;
    margin: 0 0 10px;
    font-size: 16px;
    display: block;
}
.info-section .btn-back{
    cursor: pointer;
}
.info-section.fullscreen .map-holder{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    margin: 0;
    border: none;
    width: 100%;
    min-width: 320px;
    z-index: 9999;
}
.info-section.fullscreen .detail-panel{
    padding-bottom: 232px;
}
.info-section.fullscreen .view-box{
    position: absolute;
    left: 0;
    bottom: 0;
}