.pdf-holder{height: 100%;}
.pdf-holder > div:not(#page-wrapper){
    display: none;
}
.pdf-holder #page-wrapper{
    margin: 0;
    padding: 0;
}
.pdf-holder .topbar,
.pdf-holder .footbar{
    display: none;
}
.pdf-holder .pdf-section{
    height: 100%;
}
.pdf-holder .fullheight{height: 100%;}