.promo-page{
    height: 100%;
    background: #fff;
    padding: 60px;
    text-align: center;
    color: #2f4050;
    min-height: 700px;
    position: relative;
    overflow: hidden;
}
.promo-page .info-block .list:after{
    content: "";
    display: block;
    clear: both;
}
.promo-page #logo{
    background: url('../img/imageedit_3_6701148137.png') no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    margin: 0 auto;
    height: 120px;
    width: 400px;
}
.promo-page .info-block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.promo-page .info-block .list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 660px;
}
.promo-page .info-block .list li{
    float: left;
    margin: 0 10px 20px;
    text-transform: capitalize;
    width: 200px;
}
.promo-page .info-block .img-holder{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    overflow: hidden;
}
.promo-page .info-block .img-holder:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.promo-page .info-block .img-holder img{
    display: block;
    height: auto;
    width: 100%;
}
.promo-page .info-block a{
    color: #2f4050;
}
.promo-page .title{
    margin: 0 0 10px;
    font-size: 44px;
}
.promo-page .subtitile{
    font-size: 24px;
    font-weight: normal;
    display: block;
    margin: 0 0 40px;
}
/*media styles start*/
@media only screen and (max-width: 959px) {
    .promo-page .title{
        font-size: 30px;
    }
    .promo-page #logo{
        height: 70px;
        width: 280px;
        margin-bottom: 30px;
    }
    .promo-page .info-block .list{
        width: 580px;
    }
    .promo-page .info-block .list li{
        display: inline-block;
        float: none;
        vertical-align: top;
        width: 140px;
    }
    .promo-page{
        min-height: 600px;
        padding: 20px;
    }
}
@media only screen and (max-width: 639px) {
    .promo-page .info-block{padding: 0 10px;}
    .promo-page #logo{margin-bottom: 20px;}
    .promo-page .subtitile{margin-bottom: 25px;}
    .promo-page .info-block .list{width: 100%;}
    .promo-page .title{font-size: 26px;}
    .promo-page .subtitile{font-size: 20px;}
    .promo-page{
        height: 100%;
        overflow-y: auto;
        min-height: 0;
    }
    .promo-page .info-block{
        position: relative;
        left: auto;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}
@media only screen and (max-width: 479px) {
    .promo-page .title{font-size: 23px;}
    .promo-page .info-block .list li{
        margin: 0 8px 10px;
        width: 90px;
    }
    .promo-page .subtitile{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .promo-page #logo{
        background-position: 50% 50%;
        height: 60px;
        margin-bottom: 10px;
        max-width: 280px;
        width: 100%;
    }
    .promo-page .info-block .list h3{
        margin: 0 0 5px;
    }
}
/*media styles end*/