.shipping .holder{
    padding: 15px 0;
}
.shipping .package{
    border: 1px solid #e7eaec;
    position: relative;
    margin: 0 0 20px;
}
.shipping .logo{
    display: block;
    height: 40px;
    overflow: hidden;
    text-indent: 9999px;
    background: url('../img/sm_s.png') no-repeat;
    background-size: contain;
    width: 40px;
}
.shipping .img-holder{
    overflow: hidden;
    position: relative;
    max-height: 430px;
}
.shipping .img-holder img{
    display: block;
    height: auto;
    width: 100%;
}
.shipping .info-box{
    padding: 10px;
    position: relative;
}
.shipping .info-box h2{
    margin: 0 0 7px;
    font-weight: bold;
}
.shipping .price{
    position: absolute;
    right: 0;
    top: -15px;
    background: #5fd070;
    padding: 5px 10px;
    color: #fff;
}
.shipping.card .price{
    position: relative;
    right: auto;
    top: auto;
    background: none;
    display: block;
    color: #676a6c;
    padding: 0 0 10px;
}
.shipping .btn:active,
.shipping .btn:focus{outline: none;}
.shipping .partners-box{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.shipping .partners-box li{
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    float: left;
    overflow: hidden;
    margin: 0 6px;
    width: 70px;
}
.shipping .partners-box li:last-child{
    margin-right: 0;
}
.shipping .partners-box .visa{
    background-image: url('../img/visa.png');
}
.shipping .partners-box .master-card{
    background-image: url('../img/master.png');
    height: 22px;
    width: 40px;
}
.shipping .partners-box .logo{
    /*background-image: url('../img/sm_s.png');*/
    height: 22px;
    margin-top: 2px;
    background-size: contain;
}
.shipping .ui-select-bootstrap > .ui-select-choices,
.shipping .ui-select-bootstrap > .ui-select-no-choice{
    max-height: 140px;
}
.shipping .balance.low-limit h3{
    color: #fcb900;
}
.shipping .balance .number{
    font-size: 30px;
}
.shipping .balance span{
    display: inline-block;
    vertical-align: top;
}
.shipping .balance span:not(.number){margin-top: 10px;}