.statistic-section .box{
    border-top: 3px solid #e7eaec;
    margin: 0 0 20px;
    padding: 10px;
    min-height: 123px;
}
.statistic-section .heading{
    margin: 0 0 10px;
    padding: 0 0 12px;
    position: relative;
}
.statistic-section .heading:before{
    content: "";
    border-bottom: 1px solid #e7eaec;
    position: absolute;
    right: -10px;
    bottom: 0;
    left: -10px;
}
.statistic-section .heading:after{
    content: "";
    display: block;
    clear: both;
}
.statistic-section .heading h4{
    margin: 0;
    max-width: 200px;
}
.statistic-section .date{
    font-style: normal;
    font-size: 11px;
    padding: 0 6px 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.statistic-section .date:hover{
    background: #1ab394;
}
.statistic-section .volume{
    color: #1ab394;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}
.statistic-section .count{
    font-size: 30px;
    font-weight: normal;
}
.statistic-section .sub-title{
    font-size: 14px;
    font-weight: normal;
}