.term-section{
    overflow: hidden;
    padding: 90px 0 30px;
    font-size: 16px;
    line-height: 24px;
    height: auto !important;
}
.term-section.landing p{
    font-size: 16px;
    line-height: 24px;
}
.term-section.landing .navbar-default{
    background: #fff;
}
.term-section .title{
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 30px;
}
.term-section .subtitle{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin: 0 0 20px;
}
.nested-lists ol{
    counter-reset: listing;
}
.nested-lists ul{
    list-style: none;
}
.nested-lists ul li:before{
    content: "-" !important;
}
.nested-lists > ol{
    margin: 0;
    padding: 0;
}
.nested-lists ol li {
    display: block;
    margin-bottom: 10px;
}
.nested-lists ol li:before {
    content: counters(listing, ".") ".";
    counter-increment: listing ;
    margin-right: 10px;
}
.title-list{
    display: inline-block;
    margin: 0 0 10px;
}
.term-section .note{
    font-size: 14px;
    line-height: 18px;
}
.data-table{
    border: 1px solid #333;
    text-align: center;
    margin: 10px 0;
    width: 100%;
}
.data-table.alt{
    text-align: left;
}
.data-table.alt tr{
    border: none;
}
.data-table.alt td,
.data-table.alt th{
    border: none;
    border-left: 1px solid #333;
    text-align: left;
}
.data-table th{
    text-align: center;
    width: 50%;
}
.data-table tr,
.data-table td,
.data-table th{
    border: 1px solid #333;
}
.data-table td,
.data-table th{
    padding: 10px;
}
.term-box{
    padding: 0 10px;
}
.term-box p{
    font-size: 1.1em !important;
    line-height: 1.5em !important;
}
.term-box p{
    margin: 0 0 6px !important;
}