.transaction .nav-tabs{
    margin: 0 0 100px;
}
.transaction .nav-tabs li{
    border: 1px solid #e6e6e6 !important;
}
.transaction .nav-tabs li.active{
    background: #3A5A81;
    color: #fff;
}
.transaction .nav-tabs li.active a,
.transaction .nav-tabs li.active a:hover,
.transaction .nav-tabs li.active a:focus{
    color: #fff;
}
.transaction .nav-tabs a{
    color: #676a6c;
    border: 0 !important;
    display: block;
    border-radius: 0 !important;
}
.transaction .balance{
    position: absolute;
    right: 15px;
    top: 40px;
    /*border-bottom: 1px solid #e7eaec;*/
    border-top: 1px solid #e7eaec;
    left: 15px;
}
.transaction .balance .btn-back{
    margin: 10px 0 0 10px;
}
.transaction .balance .filterForm span{
    margin: 0;
    display: table-cell;
}
.transaction .nopay .nav-tabs{
    margin: 0 0 95px;
}
.transaction .border{
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
@media screen and (max-width: 1199px) {
    .transaction .nav-tabs{margin: 0 0 210px;}
    /*.transaction .nopay .nav-tabs{margin: 0 0 190px;}*/
}