<div class="modal-box animated fadeInDown text-center">
    <h2 ng-bind="curLanguage.RATE_CARD"></h2>
    <em class="note" ng-if="!rateCard.length" ng-bind="curLanguage.DATA_NOT_AVAILABLE"></em>
    <table class="main-table" ng-if="rateCard.length">
        <thead>
        <tr>
            <th ng-bind="curLanguage.WEIGHT_CLASS"></th>
            <th ng-bind="rateCard.length && rateCard[0].provincial ? curLanguage.CITY_RATE : curLanguage.NATIONWIDE_RATE"></th>
            <th ng-if="rateCard.length && rateCard[0].provincial" ng-bind="curLanguage.PROVINCIAL_RATE"></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, value) in rateCard">
                <td><span ng-bind="value | rateCardFilter"></span></td>
                <td><span ng-bind="value.rate"></span></td>
                <td ng-if="value.provincial"><span ng-bind="value.provincial"></span></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-warning" ng-click="closeLoginDialog()" ng-bind="curLanguage.CANCEL"></button>
</div>
<button class="btn-close" ng-click="closeLoginDialog()"></button>