<div class="modal-box animated fadeInDown text-center">
    <div class="info-box text-center m-b-md">
        <p><span ng-bind="curLanguage.ORDERS_20_LIMIT"></span></p>
        <p>
            <span ng-bind="curLanguage.CSV_TEMPLATE"></span>
            <a href="https://drive.google.com/uc?export=download&id=0BwZ2ck7BsrkdZE42NzZUdVFCSEk"
                ng-bind="curLanguage.HERE" download="sample.csv"></a>
        </p>
        <small ng-bind="curLanguage.CSV_TEMPLATE"></small>
    </div>
    <button type="button" class="btn btn-success btn-md"
            ngf-select="uploadFiles($files)" ngf-accept="'.csv'" ng-disabled="upload" ng-bind="curLanguage.UPLOAD_FILES">
    </button>
    <ul class="error-list" ng-if="isArrayHere(errorList) && errorList.length">
        <li class="text-danger" ng-repeat="err in errorList track by $index" ng-bind="err"></li>
    </ul>
    <span class="text-danger block" ng-if="!isArrayHere(errorList)" ng-bind="errorList"></span>
    <span class="text-danger block" ng-if="incorrectFormat" ng-bind="'Upload CSV only'"></span>
</div>
<button class="btn-close" ng-click="closeUploadDialog()"></button>
