<div class="modal-box refund animated fadeInDown">
    <header class="heading text-center">
        <h2 ng-bind="curLanguage.FILL_IN_THE_INFORMATION"></h2>
    </header>
    <em class="note text-center" ng-bind="curLanguage.BALANCE_WILL_BE_REDUCED"></em>
    <form name="refundForm" id="refundForm" ng-submit="refundPayment(refundForm.$valid, refund)" novalidate>
        <div class="clearfix">
            <div class="form-group">
                <label for="accountNumber" ng-bind="curLanguage.ACCOUNT_NUMBER"></label>
                <input id="accountNumber" name="accountNumber"
                       class="form-control" type="text"
                       ng-model="refund.accountNumber"
                       ng-pattern="/^[0-9\/]+$/"
                       only-numbers
                       maxlength="16"
                       minlength="16"
                       ng-disabled="sent"
                       placeholder="{{curLanguage.ACCOUNT_NUMBER}}" required>
                <ng-messages for="refundForm.accountNumber.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="account-messages">...</ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <label for="cardholderName" ng-bind="curLanguage.BANK_HOLDER_NAME"></label>
                <input id="cardholderName" name="cardholderName" class="form-control"
                       type="text"
                       ng-model="refund.cardholderName"
                       maxlength="50"
                       ng-pattern="/^[a-zA-z0-9\s\u0E00-\u0E7F]+$/"
                       ng-disabled="sent"
                       placeholder="{{curLanguage.BANK_HOLDER_NAME}}"
                       required>
                <ng-messages for="refundForm.cardholderName.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="cardholder-messages">...</ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <label ng-bind="curLanguage.BANK_NAME"></label>
                <ui-select  ng-disabled="sent"
                            name="bankName"
                           ng-model="bank.info"
                           ng-pattern="/^[a-zA-z0-9\s]+$/"
                           theme="bootstrap"
                           ng-disabled="disabled"
                           only-text
                           required>
                    <ui-select-match placeholder="{{curLanguage.START_TYPING_BANK_NAME}}">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices  refresh="getBanksName($select.search)" refresh-delay="0"
                                        repeat="bank in (banks | filter: $select.search) track by $index">
                        <span ng-bind="bank.name"></span>
                    </ui-select-choices>
                </ui-select>
                <ng-messages for="refundForm.bankName.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="bank-messages">...</ng-messages-include>
                </ng-messages>
            </div>
        </div>

        <div class="clearfix text-center">
            <button ng-disabled="sent" type="submit" class="btn btn-primary" ng-bind="curLanguage.REFUND"></button>
            <button ng-disabled="sent" class="btn btn-warning" ng-click="closeDialog()" ng-bind="curLanguage.CANCEL"></button>
        </div>
    </form>
</div>
<button class="btn-close" ng-click="closeDialog()"></button>
<!--error messages template-->
<script type="text/ng-template" id="cardholder-messages">
    <div ng-message="required">{{curLanguage.BANK_HOLDER_NAME + ' ' + curLanguage.MANDATORY}}</div>
    <div ng-message="pattern">{{curLanguage.INVALID_FORMAT}}</div>
</script>
<script type="text/ng-template" id="account-messages">
    <div ng-message="required">{{curLanguage.ACCOUNT_NUMBER + ' ' + curLanguage.MANDATORY}}</div>
    <div ng-message="pattern">Only digits</div>
    <div ng-message="minlength">Account number must have 16 symbols</div>
</script>
<script type="text/ng-template" id="bank-messages">
    <div ng-message="required">{{curLanguage.BANK_NAME + ' ' + curLanguage.MANDATORY}}</div>
    <div ng-message="pattern">Only digits and Latin letters</div>
</script>