<div class="modal-box animated fadeInDown text-center">
    <h2 class="m-b-md">
        <span ng-if="isAccessLimit() === 3 || (isAccessLimit() === 2 && !havePackage)" ng-bind="curLanguage.PAY_FOR_SHIPPING_PACKAGE"></span>
        <span ng-if="isAccessLimit() === 1 || (isAccessLimit() === 2 && havePackage)">
            <span class="block" ng-if="isAccessLimit() !== 1" ng-bind="curLanguage.YOUR_SHIPPING_BALANCE_LOW"></span>
            <span class="block" ng-if="isAccessLimit() === 1"
                  ng-bind="curLanguage.YOU_CAN_ONLY_SHIP + ' ' + availableCount + ' ' + curLanguage.MORE_ORDERS"></span>
            <span class="block" ng-if="isAccessLimit() !== 1" ng-bind="curLanguage.TOP_UP_YOUR_ACCOUNT"></span>
        </span>
    </h2>
    <a ng-click="goTo('index.shipping')" class="btn btn-primary" ng-bind="curLanguage.PAY"></a>
    <button class="btn btn-warning" ng-click="closeUploadDialog()" ng-bind="curLanguage.CANCEL"></button>
</div>
<button class="btn-close" ng-click="closeUploadDialog()"></button>