<div class="landing text-center _loginscreen  animated fadeInDown" style="font-family: 'Helvetica',sans-serif;">
    <div>
        <a href="#" ng-click="authViaFacebook()" class="btn azm-social azm-btn azm-border-bottom azm-facebook">
            <i class="fa fa-facebook"></i>
            <span ng-bind="curLanguage.LOG_FACEBOOK"></span>
        </a>

        <p ng-if="signUp == false">
            <span ng-bind="curLanguage.LANDING_LOGIN + ' ' + curLanguage.LANDING_OR"></span>
            <a ng-click="activeSignUp()" href="#" ng-bind="curLanguage.LANDING_SIGN_UP"></a></p>

        <p ng-if="signUp == true">
            <a ng-click="activeLogin()" href="#" ng-bind="curLanguage.LANDING_LOGIN">Login</a>
            <span ng-bind="curLanguage.LANDING_OR + ' ' + curLanguage.LANDING_SIGN_UP"></span>
        </p>

        <form ng-if="signUp" data-toggle="validator" id="registerForm" name="registerForm" class="m-t" role="form"
              ng-submit="register(registerForm.$valid, user)"
              novalidate>
            <div class="form-group">
                <input name="firstName" type="firstName" class="form-control" placeholder="{{curLanguage.FIRST_NAME}}"
                       ng-disabled="showCodeInput"
                       ng-model="user.firstName" maxlength="20" only-text required>
                <ng-messages for="registerForm.firstName.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <input name="lastName" type="lastName" class="form-control" placeholder="{{curLanguage.LAST_NAME}}"
                       ng-disabled="showCodeInput"
                       ng-model="user.lastName" maxlength="20" only-text required>
                <ng-messages for="registerForm.lastName.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="{{curLanguage.EMAIL}}" ng-disabled="showCodeInput"
                       ng-model="user.email" required>
                <ng-messages for="registerForm.email.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="{{curLanguage.PASSWORD}}"
                       ng-model="user.password" ng-disabled="showCodeInput" maxlength="20" minlength="5" required>

                <div class="validation-error" ng-if="notMatchedPassword">
                    <span class="error" ng-bind="validationErrors.password"></span>
                </div>

                <ng-messages for="registerForm.password.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <input name="passwordRepeat" ng-change="checkPasswords()" type="password" maxlength="20" class="form-control"
                       placeholder="{{curLanguage.CONFIRM + ' ' + curLanguage.PASSWORD}}"
                       ng-model="user.passwordRepeat" ng-disabled="showCodeInput" minlength="5" required>
                <ng-messages for="registerForm.passwordRepeat.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>

            <div class="form-group">
                <div name="recaptcha" style="width: 304px; margin: auto;"
                     vc-recaptcha key="reCaptchaKey"
                     on-create="setWidgetId(widgetId)"
                     ng-model="user.recaptchaResponse"
                     required></div>
                <ng-messages for="registerForm.recaptcha.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>

            <button type="submit" class="btn btn-primary block" ng-bind="curLanguage.LANDING_SIGN_UP"></button>

        </form>


        <form ng-if="signUp == false && forgotPassword == false" id="authForm" name="authForm" class="m-t" role="form"
              ng-submit="auth(authForm.$valid, authUser)"
              novalidate>
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="{{curLanguage.EMAIL}}" ng-disabled="showCodeInput"
                       ng-model="authUser.email" required>
                <ng-messages for="authForm.email.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="{{curLanguage.PASSWORD}}"
                       ng-model="authUser.password" ng-disabled="showCodeInput" minlength="5" maxlength="20"
                       required>
                <div class="text-right">
                    <a ng-if="signUp == false" ng-click="checkForgotPassword()" href="#" ng-bind="curLanguage.FORGOT_PASSWORD"></a>
                </div>
                <ng-messages for="authForm.password.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <button type="submit" class="btn btn-primary block" ng-bind="curLanguage.LANDING_LOGIN"></button>
        </form>

        <form ng-if="forgotPassword" id="forgotPasswordForm" name="forgotPasswordForm" class="m-t" role="form"
              ng-submit="sendEmail(forgotPasswordForm.$valid, dataUser)" novalidate>
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="{{curLanguage.EMAIL}}" ng-disabled="showCodeInput"
                       ng-model="dataUser.email" required>
                <ng-messages for="forgotPasswordForm.email.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>

            <button type="submit" class="btn btn-primary block" ng-bind="curLanguage.SEND"></button>

        </form>

        <div class="row text-center" ng-if="qrImage">
            <img ng-src="{{qrImage}}">
            <br>
            <a class="text-center" ng-href="{{qrImage}}" style="word-break: break-all;" target="_blank">{{qrImage | limitTo: 90}}</a>
        </div>

        <p class="error" ng-show="error">{{error}}</p>
        <div class="term-box">
            <p>
                <span ng-bind="curLanguage.IF_YOU_SIGN_IN"></span>
                <a ui-sref="privacy-policy" class="terms" ng-bind="curLanguage.PRIVACY_POLICY"></a>
            </p>
        </div>
    </div>
</div>
<button class="btn-close" ng-click="closeLoginDialog()"></button>

<!--error messages template-->
<script type="text/ng-template" id="error-messages">
    <div ng-message="required">{{curLanguage.ERROR_REQUIRED}}</div>
    <div ng-message="maxlength">{{curLanguage.FIELD_LARGE}}</div>
    <div ng-message="minlength">{{curLanguage.FIELD_SHORT}}</div>
    <div ng-message="email">{{curLanguage.EMAIL_NOT_CORRECT}}</div>
</script>