<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12" ng-class="{'low-limit': availableAmount <= currentLowLimit}">
        <h1 class="pull-left" ng-bind="curLanguage.CARD_INFORMATION"></h1>
        <div class="clearfix border m-t-md text-right pull-right" ng-if="havePackage">
            <h3 class="inline account-balance m-r-sm" ng-if="havePackage">
                <span ng-bind="curLanguage.ACCOUNT_BALANCE + ': '"></span>
                <span class="number" ng-bind="'&#3647; ' + availableAmount"></span>
            </h3>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight shipping card white-bg m-t-md m-r m-l">
    <div class="clearfix">
        <div class="col-lg-5">
            <h3 class="title" ng-bind="cardInfo.name"></h3>
            <strong class="price">
                <span ng-bind="curLanguage.PRICE"></span>
                <span class="text-success" ng-bind="': &#3647; ' + cardInfo.cost"></span>
            </strong>
            <p class="desc" ng-bind="cardInfo.description"></p>
            <!--<input type="checkbox" class="checkbox-text" id="partner1" ng-model="card.storeCard">-->
            <!--<label for="partner1" class="main-label ng-binding" ng-bind="'Save card for future payment'"></label>-->
        </div>
        <div class="col-lg-7">
            <form name="cardForm" id="cardForm" class="cardForm"
                  ng-submit="makeAPayment(cardForm.$valid, card)" expiration-date novalidate>
                <div class="row m-b">
                    <label for="number" ng-bind="curLanguage.CARD_NUMBER"></label>
                    <input class="form-control"
                           type="text"
                           id="number"
                           only-numbers
                           ng-model="card.cardnumber"
                           placeholder="{{curLanguage.VALID_CARD_NUMBER}}"
                           name="cardnumber"
                           data-encrypt="cardnumber"
                           maxlength="16"
                           minlength="16"
                           ng-pattern="/\d{16}/"
                           required>
                    <span ng-if="invalidCardNumber" class="error" ng-bind="invalidCardNumber"></span>
                    <ng-messages for="cardForm.cardnumber.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="number-messages">...</ng-messages-include>
                    </ng-messages>
                </div>
                <div class="row m-b">
                    <div class="col-lg-8 no-padding">
                        <label for="expiration_data" ng-bind="curLanguage.EXPIRATION_DATE"></label>
                        <input class="form-control"
                               type="text"
                               id="expiration_data"
                               month-year
                               ng-model="card.expiration_data"
                               only-numbers
                               placeholder="MM/YYYY"
                               name="expiration_data"
                               maxlength="7"
                               minlength="7"
                               ng-pattern="/^[0-9\/]+$/"
                               required>
                        <span ng-if="expDateErr" class="error" ng-bind="expDateErr"></span>
                        <ng-messages for="cardForm.expiration_data.$error" role="alert">
                            <ng-messages-include ng-if="submitted" src="date-messages">...</ng-messages-include>
                        </ng-messages>
                    </div>
                    <div class="col-lg-3 no-padding pull-right">
                        <label for="cvc" ng-bind="'CV Code'"></label>
                        <input class="form-control"
                               type="text"
                               id="cvc"
                               only-numbers
                               ng-model="card.cvv"
                               placeholder="CVC"
                               name="cvv"
                               data-encrypt="cvv"
                               maxlength="3"
                               minlength="3"
                               ng-pattern="/\d{3}/"
                               required>
                        <ng-messages for="cardForm.cvv.$error" role="alert">
                            <ng-messages-include ng-if="submitted" src="cvv-messages">...</ng-messages-include>
                        </ng-messages>
                    </div>
                </div>
                <div class="row m-b">
                    <label ng-bind="curLanguage.ISSUING_BANK"></label>
                    <ui-select name="bank_name"
                               ng-model="card.bank"
                               ng-pattern="/^[a-zA-z0-9\s]+$/"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               only-text
                               required>
                        <ui-select-match placeholder="{{curLanguage.START_TYPING_BANK_NAME}}">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices  refresh="getBanksName($select.search)" refresh-delay="0"
                                            repeat="bank in (banks | filter: $select.search) track by $index">
                            <span ng-bind="bank.name"></span>
                        </ui-select-choices>
                    </ui-select>
                    <ng-messages for="cardForm.bank_name.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="bank-messages">...</ng-messages-include>
                    </ng-messages>
                </div>
                <div class="row m-b">
                    <label for="cardholder" ng-bind="curLanguage.CARDHOLDER_NAME"></label>
                    <input class="form-control"
                           type="text"
                           id="cardholder"
                           ng-model="card.cardholderName"
                           placeholder="{{curLanguage.CARDHOLDER_NAME}}"
                           name="cardholder"
                           ng-pattern="/^[a-zA-z0-9\s]+$/"
                           required>
                    <ng-messages for="cardForm.cardholder.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="card-messages">...</ng-messages-include>
                    </ng-messages>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary" ng-bind="curLanguage.MAKE_A_PAYMENT"></button>
                    <ul class="partners-box pull-right">
                        <li class="logo" style="background-image: url('{{cardInfo.logo}}')"></li>
                        <li class="visa"></li>
                        <li class="master-card"></li>
                    </ul>
                </div>
            </form>
            <form class="hide payloadForm" action='https://demo2.2c2p.com/2C2PFrontEnd/SecurePayment/PaymentAuth.aspx' method='POST' name='payloadForm'>
                <input type='text' name='paymentRequest'>
            </form>
        </div>
    </div>
</div>

<!--error messages template-->
<script type="text/ng-template" id="number-messages">
    <div ng-message="required">{{curLanguage.CARD_NUMBER + ' ' + curLanguage.MANDATORY}} </div>
    <div ng-message="minlength">{{curLanguage.CARD_NUMBER + ' ' + curLanguage.ACCOUNT_NUMBER_16_SYMBOLS}}</div>
    <div ng-message="pattern">Only digits</div>
</script>
<script type="text/ng-template" id="date-messages">
    <div ng-message="required">{{curLanguage.EXPIRATION_DATE + ' ' + curLanguage.MANDATORY}}</div>
    <div ng-message="minlength">{{curLanguage.EXPIRATION_DATE + ' ' + curLanguage.MUST_HAVE_MM_YYYY_FORMAT}} </div>
    <div ng-message="pattern">Only digits</div>
</script>
<script type="text/ng-template" id="cvv-messages">
    <div ng-message="required">{{'CVV code ' + curLanguage.MANDATORY}}</div>
    <div ng-message="minlength">{{curLanguage.CVV_CODE_3_SYMBOLS}}</div>
    <div ng-message="pattern">Only digits</div>
</script>
<script type="text/ng-template" id="card-messages">
    <div ng-message="required">{{curLanguage.CARDHOLDER_NAME + ' ' + curLanguage.MANDATORY}}</div>
    <div ng-message="pattern">Only digits and Latin letters</div>
</script>
<script type="text/ng-template" id="bank-messages">
    <div ng-message="required">{{curLanguage.BANK_NAME + ' ' + curLanguage.MANDATORY}}</div>
    <div ng-message="pattern">Only digits and Latin letters</div>
</script>