<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1 ng-bind="curLanguage.CREATE_ORDER"></h1>
    </div>
</div>

<div class="row animated fadeInRight">
    <form class="m-t m-b-xl col-sm-offset-3 col-sm-6 main-form" role="form" id="orderAddForm" name="orderAddForm"
          ng-submit="saveOrder(orderAddForm.$valid, newOrder)" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div><label for="itemName" ng-bind="curLanguage.ITEM"></label></div>
                    <input class="form-control" name="itemName" type="text" placeholder="{{curLanguage.ITEM}}"
                           ng-model="newOrder.orderName"
                           id="itemName" required>
                    <ng-messages for="orderAddForm.itemName.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div><label ng-bind="curLanguage.SHIPPING_TYPE"></label></div>
                    <select class="form-control" name="type" ng-model="newOrder.type" required>
                        <option value="" disabled selected ng-bind="curLanguage.SELECT"></option>
                        <option ng-repeat="type in shippingType" value="{{type.field}}" ng-bind="type.name"></option>
                    </select>
                    <ng-messages for="orderAddForm.type.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
                    </ng-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div><label ng-bind="curLanguage.SERVICE_TYPE"></label></div>
            <div class="row">
                <div class="col-lg-6">
                    <select class="form-control" name="service" ng-model="newOrder.service" required>
                        <option value="" disabled selected ng-bind="curLanguage.SELECT"></option>
                        <option ng-repeat="service in serviceType" value="{{service.field}}"
                                ng-bind="'Smartship ' + service.listName"></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <button type="button" ng-disabled="!newOrder.service || loaderActive"
                            class="btn full-width btn-success btn-md"
                            ng-click="openLoginDialog(newOrder.service)"
                            ng-bind="'Shipping Rates'"></button>
                </div>
            </div>
            <ng-messages for="orderAddForm.service.$error" role="alert">
                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
            </ng-messages>
        </div>

        <div class="panel-group insurance">
            <div class="panel panel-default">
                <div class="panel-heading"><label ng-bind="curLanguage.SHIPMENT_PROTECTION"></label></div>
                <div class="panel-body">
                    <div class="row _col-sm-12">
                        <div class="col-sm-2">
                            <div class="pull-left">
                                <div><label ng-bind="curLanguage.INSURANCE"></label></div>
                                <lable class="main-checkbox m-s-auto m-t-xs" ng-click="setInfoCheck()"
                                       ng-class="{checked: newOrder.insurance}">
                                    <input type="checkbox" class="main-checkbox" ng-model="newOrder.insurance">
                                </lable>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <div><label for="declareValue" ng-bind="curLanguage.DECLARED_VALUE"></label></div>
                            <div class="input-group">
                                <input id="declareValue"
                                       class="form-control"
                                       name="declareValue" type="text"
                                       placeholder="{{curLanguage.DECLARED_VALUE}}"
                                       ng-pattern="/^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$/"
                                       ng-model="newOrder.declareValue"
                                       only-decimal-numbers="newOrder.insurance"
                                       max-leng="6"
                                       ng-required="newOrder.insurance"
                                       ng-disabled="!newOrder.insurance">
                            </div>
                            <ng-messages for="orderAddForm.declareValue.$error" role="alert">
                                <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                            </ng-messages>
                        </div>
                        <div class="col-sm-2">
                            <div class="ask-box m-t-md text-center" ng-class="{disabled: !newOrder.insurance}">
                                <i class="ico fa fa-question-circle" aria-hidden="true">
                                    <span class="note" ng-bind="curLanguage.WE_CHARGE_1_PERCENT"></span>
                                </i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-default">

                <div class="panel-heading"><label ng-bind="curLanguage.RECEIVER_DATA"></label></div>

                <div class="panel-body">

                    <div class="row _col-sm-12">
                        <div class="col-sm-6 form-group">
                            <div><label for="receiverName" ng-bind="curLanguage.RECEIVER_NAME"></label></div>
                            <input class="form-control" name="receiverName" type="text" placeholder="{{curLanguage.RECEIVER_NAME}}"
                                   ng-model="newOrder.receiver.addressee"
                                   id="receiverName" required>
                            <ng-messages for="orderAddForm.receiverName.$error" role="alert">
                                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
                            </ng-messages>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="email" ng-bind="curLanguage.RECEIVER_EMAIL"></label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="{{curLanguage.RECEIVER_EMAIL}}"
                                   ng-model="newOrder.receiver.email"
                                   minlength="6" maxlength="50"
                                   ng-pattern="/^[_a-z0-9.!#$%&'*+/=?^_`{|}~-]+(\.[_a-z0-9.!#$%&'*+/=?^_`{|}~-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                   required>
                            <ng-messages for="orderAddForm.email.$error" role="alert">
                                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
                            </ng-messages>
                        </div>
                    </div>

                    <div class="form-group">
                        <div><label for="phone" ng-bind="curLanguage.RECEIVER_PHONE"></label></div>
                        <div ng-bind="curLanguage.EXAMPLE + ': 66123456789'"></div>
                        <div class="input-group">
                            <span class="input-group-addon">66</span>
                            <input class="form-control" name="phone" type="text" placeholder="{{curLanguage.RECEIVER_PHONE}}"
                                   ng-model="newOrder.receiver.phone" ng-pattern="/\d{9}/" minlength="9"
                                   maxlength="9" only-numbers
                                   id="phone" required>
                        </div>
                        <ng-messages for="orderAddForm.phone.$error" role="alert">
                            <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
                        </ng-messages>
                    </div>

                    <div class="row _col-sm-12">

                        <div class="form-group col-sm-6">
                            <div><label for="address" ng-bind="curLanguage.ADDRESS + ' 1'"></label></div>
                            <input class="form-control" type="text" placeholder="{{curLanguage.ADDRESS + ' ' + 1}}"
                                   ng-model="newOrder.receiver.address"
                                   name="address"
                                   minLength="10" id="address" required>
                            <ng-messages for="orderAddForm.address.$error" role="alert">
                                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>

                            </ng-messages>
                        </div>

                        <div class="form-group col-sm-6">
                            <div><label for="address2" ng-bind="curLanguage.ADDRESS + ' 2'"></label></div>
                            <input class="form-control" type="text" placeholder="{{curLanguage.ADDRESS + ' ' + 2}}"
                                   ng-model="newOrder.receiver.address2"
                                   name="address2"
                                   minLength="10" id="address2">
                            <ng-messages for="orderAddForm.address2.$error" role="alert">
                                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>

                            </ng-messages>
                        </div>
                    </div>

                    <div class="form-group">
                        <div><label ng-bind="curLanguage.POSTCODE"></label></div>
                        <ui-select name="postcode" only-numbers ng-model="postcode" on-select="postcodeSelectInOrders(postcode)"
                                   theme="bootstrap" ng-disabled="disabled" required>
                            <ui-select-match>
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices refresh="updatePostcodes($select.search)"
                                               refresh-delay="0" repeat="code in (autocomplitePostcodeList | filter: $select.search) track by $index">
                                <span ng-bind="code"></span>
                            </ui-select-choices>
                        </ui-select>
                        <ng-messages for="orderAddForm.postcode.$error" role="alert">
                            <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
                        </ng-messages>
                    </div>

                    <div class="row _col-sm-12">
                        <div class="form-group col-sm-6">
                            <div><label for="district" ng-bind="curLanguage.DISTRICT"></label></div>
                            <select class="form-control" name="district" id="district"
                                    ng-model="newOrder.receiver.district"
                                    ng-options="city as city.name for city in cityList track by city.id"
                                    ng-disabled="!openDistrict"
                                    required></select>
                            <ng-messages for="orderAddForm.district.$error" role="alert">
                                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
                            </ng-messages>
                        </div>

                        <div class="form-group col-sm-6">
                            <div><label for="province" ng-bind="curLanguage.PROVINCE"></label></div>
                            <input class="form-control" type="text" name="province" placeholder="{{curLanguage.PROVINCE}}"
                                   ng-model="newOrder.receiver.province"
                                   id="province" disabled required>
                            <ng-messages for="orderAddForm.province.$error" role="alert">
                                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
                            </ng-messages>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="form-group">
            <div><label ng-bind="curLanguage.SERVICE_TYPE"></label></div>
            <div class="row">
                <div class="col-lg-6">
                    <select class="form-control" name="service" ng-model="newOrder.service" required>
                        <option value="" disabled selected ng-bind="curLanguage.SELECT"></option>
                        <option ng-repeat="service in serviceType" value="{{service.field}}"
                                ng-bind="'Smartship ' + service.listName"></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <button type="button" ng-disabled="!newOrder.service || loaderActive"
                            class="btn full-width btn-success btn-md"
                            ng-click="openLoginDialog(newOrder.service)">Rate Card</button>
                </div>
            </div>
            <ng-messages for="orderAddForm.service.$error" role="alert">
                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
            </ng-messages>
        </div>-->

        <div class="form-group" ng-show="newOrder.service == 2 || newOrder.service == 3">
            <label>
                Delivery is picked by Receiver directly
                <input type="checkbox" ng-change="checkEqual()" ng-model="newOrder.equal" ng-true-value="true"
                       ng-false-value="false"/>
            </label>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary m-b"
                    data-ng-disabled="loaderActive" ng-bind="curLanguage.CREATE"></button>
        </div>

        <p class="error" ng-show="error && submitted" ng-bind="error.message"></p>
        <p class="error" ng-show="!orderAddForm.$valid && submitted && !error" ng-bind="curLanguage.ERROR_FILL_FIELDS"></p>

    </form>
    <span class="pace" data-ng-class="{active: loaderActive}">
        <span class="pace-progress"></span>
    </span>
</div>

<!--error messages template-->
<script type="text/ng-template" id="error-messages">
    <div ng-message="required">{{curLanguage.ERROR_REQUIRED}}</div>
    <div ng-message="maxlength">{{curLanguage.FIELD_LARGE}}</div>
    <div ng-message="minlength">{{curLanguage.FIELD_SHORT}}</div>
    <div ng-message="email">{{curLanguage.EMAIL_NOT_CORRECT}}</div>
    <div ng-message="pattern">{{curLanguage.INVALID_FORMAT}}</div>
</script>