<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12" ng-class="{'low-limit': availableAmount <= currentLowLimit}">
        <h1 class="pull-left" ng-bind="curLanguage.ORDERS"></h1>
        <div class="clearfix border m-t-md text-right pull-right" ng-if="havePackage">
            <h3 class="inline account-balance m-r-sm" ng-if="havePackage">
                <span ng-bind="curLanguage.ACCOUNT_BALANCE + ': '"></span>
                <span class="number" ng-bind="'&#3647; ' + availableAmount"></span>
            </h3>
        </div>
    </div>
</div>
<article class="filter-form wrapper wrapper-content animated fadeInRight" ng-include="'views/common/filter_order.html'"></article>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a class="btn btn-md btn-success" ng-click="openUploadDialog(true)" ng-bind="curLanguage.CREATE_ORDER"></a>
                    <button type="button" ng-click="getCsvFile()" ng-disabled="(!isFiltering() && !csvCheckList.length) || (isFiltering() && orderCount <= csvCheckListExludes.length)"
                            class="btn btn-success btn-md" ng-bind="curLanguage.EXPORT"></button>
                    <!--<button type="button" ng-click="openUploadDialog()" class="btn btn-md btn-purple" ng-bind="curLanguage.UPLOAD_CSV"></button>-->
                    <!--<button type="button" ng-click="unCheckAll()" ng-disabled="cancelAll" class="btn btn-success btn-md">Cancel All</button>-->
                </div>
                <div class="ibox-content">
                    <div class="auto-x">
                        <table datatable="" class="table orders-table">
                            <thead>
                            <tr>
                                <th>CSV</th>
                                <th>
                                    <a ng-click="sortOrders('orderName')">
                                        <span ng-bind="curLanguage.ORDER_NAME"></span>
                                        <span ng-if="defaultParams.direction === 'DESC' && sort === 'orderName'">&darr;</span>
                                        <span ng-if="defaultParams.direction === 'ASC' && sort === 'orderName'">&uarr;</span>
                                    </a>
                                </th>
                                <th ng-bind="curLanguage.TRACKING_NUMBER"></th>
                                <th>
                                    <a ng-click="sortOrders('address')">
                                        <span ng-bind="curLanguage.DELIVERY_ADDRESS"></span>
                                        <span ng-if="defaultParams.direction === 'DESC' && sort === 'address'">&darr;</span>
                                        <span ng-if="defaultParams.direction === 'ASC' && sort === 'address'">&uarr;</span>
                                    </a>
                                </th>
                                <th ng-bind="curLanguage.DISTRICT"></th>
                                <th ng-bind="curLanguage.PROVINCE"></th>
                                <th ng-bind="curLanguage.DROP_OFF_PARTNER"></th>
                                <th ng-bind="curLanguage.ORDER_STATUS"></th>
                                <th ng-bind="curLanguage.COMMAND"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" >
                                <td>
                                    <lable class="main-checkbox" ng-click="checkOrderCSV(order)" ng-class="{checked: order.checked}">
                                        <input type="checkbox" class="main-checkbox" value="{{order.id}}" ng-checked="order.checked">
                                    </lable>
                                </td>
                                <td class="short">
                                    <a ui-sref="index.orders.view({id: order.id})" ng-bind="order.orderName"></a>
                                </td>
                                <td ng-bind="order.trackingId ? order.trackingId : curLanguage.NOT_AVAILABLE"></td>
                                <td ng-bind="order.address"></td>
                                <td ng-bind="order.district"></td>
                                <td ng-bind="order.province"></td>
                                <td ng-bind="order.serviceType | serviceType: 'listName'"></td>
                                <td class="center"><span class="label btn-status label-primary {{order.statusClass}}" ng-bind="order.statusText"></span></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-success"
                                            ng-click="getShippingCardPDF(order)"
                                            ng-bind="curLanguage.LABEL"
                                            ng-disabled="isAccessLimit() !== 3 && !order.documentAccess"
                                    ></button>
                                    <button type="button" class="btn btn-sm btn-success"
                                            ng-disabled="disableInvoice(order, statuses.delivered) ||
                                            !order.documentAccess || (isAccessLimit() !== 3 && !order.documentAccess)"
                                            ng-click="getArchiveTaxInvoice(order)" ng-bind="curLanguage.INVOICE"
                                    ></button>
                                    <!--<button type="button" class="btn btn-sm btn-danger bold-font"-->
                                            <!--ng-disabled="disableInvoice(order, statuses.pending)"-->
                                            <!--ng-click="getArchiveTaxInvoice(order)" ng-bind="'X'"-->
                                    <!--&gt;</button>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="pace-holder" data-ng-class="{active: loaderActive}">
        <span class="pace" data-ng-class="{active: loaderActive}">
            <span class="pace-progress"></span>
        </span>
    </span>
</div>


<!-- Pagination -->
<div class="row text-center" ng-show="pagination.pages > 1">
    <ul uib-pagination
        class="pagination-sm text-center"
        ng-change="pageChanged()"
        total-items="pagination.count"
        rotate="false" 
        items-per-page="pagination.pageLimit"
        max-size="5"
        ng-model="pagination.currentPage"
        previous-text="{{curLanguage.PAGINATION_PREVIOUS}}"
        next-text="{{curLanguage.PAGINATION_NEXT}}">
    </ul>
</div>