<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12" ng-class="{'low-limit': availableAmount <= currentLowLimit}">
        <h1 class="pull-left" ng-bind="curLanguage.SHIPPING_DETAILS"></h1>
        <div class="clearfix border m-t-md text-right pull-right" ng-if="havePackage">
            <h3 class="inline account-balance m-r-sm" ng-if="havePackage">
                <span ng-bind="curLanguage.ACCOUNT_BALANCE + ': '"></span>
                <span class="number" ng-bind="'&#3647; ' + availableAmount"></span>
            </h3>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a ui-sref="index.orders" class="btn btn-sm btn-primary"><i class="fa fa-reply"></i></a>
                    <div class="pull-right">
                        <button type="button" class="btn btn-success"
                                ng-click="getShippingCardPDF()"
                                ng-bind="curLanguage.LABEL"
                                ng-disabled="isAccessLimit() !== 3 && !orderInfo.documentAccess"
                        ></button>
                        <button type="button" ng-disabled="disableInvoice(orderInfo, statuses.delivered) ||
                                !orderInfo.documentAccess || (isAccessLimit() === 3 && !orderInfo.documentAccess)"
                                ng-click="getArchiveTaxInvoice()"
                                ng-bind="curLanguage.INVOICE" class="btn btn-success">
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered invoice-info-table orders-table">
                        <tr>
                            <th ng-bind="curLanguage.ITEM"></th>
                            <td ng-bind="orderInfo.orderName"></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.TRACKING_NUMBER"></th>
                            <td ng-bind="orderInfo.trackingId ? orderInfo.trackingId : curLanguage.NOT_AVAILABLE"></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.DELIVERY_ADDRESS"></th>
                            <td ng-bind="orderInfo.address + ',' + 'District: ' + orderInfo.orderDistrict + ',' + 'Postcode: ' + orderInfo.orderPostcode">
                            </td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.DROP_OFF_PARTNER"></th>
                            <td ng-bind="orderInfo.serviceType | serviceType: 'name'"></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.CHARGE"></th>
                            <td ng-bind="orderInfo.rate ? orderInfo.rate : curLanguage.NOT_AVAILABLE"></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.WEIGHT"></th>
                            <td ng-bind="orderInfo.weight ? orderInfo.weight : curLanguage.NOT_AVAILABLE"></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.ORDER_STATUS"></th>
                            <td class="center"><span class="label btn-status label-primary {{orderInfo.statusClass}}" ng-bind="orderInfo.statusText"></span></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.INSURANCE"></th>
                            <td ng-bind="orderInfo.insurance ? curLanguage.YES : curLanguage.NO"></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.DATE_ADDED"></th>
                            <td ng-bind="orderInfo.createdAt | date:'dd/MM/yyyy'"></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.DATE_MODIFIED"></th>
                            <td ng-bind="orderInfo.updatedAt | date:'dd/MM/yyyy'"></td>
                        </tr>
                        <tr>
                            <th ng-bind="curLanguage.BUSINESS_FORM"></th>
                            <td>

                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td ng-bind="curLanguage.PHONE + ' :'"></td>
                                        <td ng-bind="orderInfo.businessForm.phone"></td>
                                    </tr>

                                    <tr>
                                        <td ng-bind="curLanguage.NATIONAL_ID"></td>
                                        <td ng-bind="orderInfo.businessForm.nationalId"></td>
                                    </tr>

                                    <tr>
                                        <td ng-bind="curLanguage.POSTCODE"></td>
                                        <td ng-bind="orderInfo.businessForm.postcode"></td>
                                    </tr>
                                    <tr>
                                        <td ng-bind="curLanguage.DISTRICT"></td>
                                        <td ng-bind="orderInfo.businessForm.district"></td>
                                    </tr>
                                    <tr>
                                        <td ng-bind="curLanguage.PROVINCE"></td>
                                        <td ng-bind="orderInfo.businessForm.province"></td>
                                    </tr>
                                    <tr>
                                        <td ng-bind="curLanguage.ADDRESS + ':'"></td>
                                        <td ng-bind="orderInfo.businessForm.province"></td>
                                    </tr>
                                    <tr>
                                        <td ng-bind="curLanguage.VAT"></td>
                                        <td ng-bind="orderInfo.businessForm.vat"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
