<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12" ng-class="{'low-limit': availableAmount <= currentLowLimit}">
        <h1 class="pull-left" ng-bind="curLanguage.SHIPPING_PACKAGES"></h1>
        <div class="clearfix border m-t-md text-right pull-right" ng-if="havePackage">
            <h3 class="inline account-balance m-r-sm" ng-if="havePackage">
                <span ng-bind="curLanguage.ACCOUNT_BALANCE + ': '"></span>
                <span class="number" ng-bind="'&#3647; ' + availableAmount"></span>
            </h3>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight shipping">
    <div class="row">
        <div class="col-lg-12 m-b-md">
            <div class="white-bg clearfix holder">
                <div class="col-lg-6" ng-repeat="package in packages track by $index" hover-is-active="btn" target-hover="bg-logo">
                    <figure class="package">
                        <div class="img-holder">
                            <img src="../../../img/shipping.jpg" alt="shipping">
                            <span class="bg-mask"></span>
                            <span class="bg-logo" style="background: url('{{package.logo}}')"></span>
                        </div>
                        <figcaption class="info-box">
                            <h3 ng-bind="package.name"></h3>
                            <p ng-bind="package.description"></p>
                            <div class="clearfix">
                                <button ui-sref="index.card({id: package.id, params: goTo})" type="button pull-left" class="btn btn-primary"
                                        ng-bind="curLanguage.PAY"></button>
                            </div>
                            <strong class="price" ng-bind="'&#3647; ' + package.cost"></strong>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>