<div class="landing" affix-header>
    <header id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000" >
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" id="nav-logo" back-to="nav-logo" href="#page-top"></a>
                </div>

                <!-- navbar collapse start -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="page-scroll" class="page-scroll"
                               href="https://tracking.acommerce.asia/smartship"
                                ng-bind="curLanguage.LANDING_TRACK_AND_TRACE"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/info" ui-sref="info"
                               ng-bind="curLanguage.LANDING_HOW_TO_SMARTSHIP"></a>
                        </li>
                        <li>
                            <button type="button" ng-click="openLoginDialog()" class="btn btn-primary"
                            ng-bind="curLanguage.LANDING_LOGIN_SIGN_UP">
                            </button>
                        </li>
                    </ul>
                </div>
                <!--lang list start-->
                <ul class="lang-list">
                    <li>
                        <a href="#" class="flag flag-gb" ng-click="currentLanguage(languages.english)"></a>
                    </li>
                    <li>
                        <a href="#" class="flag flag-th" ng-click="currentLanguage(languages.thai)"></a>
                    </li>
                </ul>
                <!--lang list end-->
                <!-- navbar collapse end -->
            </div>
        </nav>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox"> <!--ng-non-bindable-->
            <div class="item" ng-repeat="item in carouselItems track by $index" ng-class="{active: $index === 0}">
                <img ng-src="{{item.image}}" alt="...">
                <div class="carousel-caption">
                    <h2 ng-bind="item.title"></h2>
                    <a href="#" back-to="services" class="btn btn-primary btn-xl page-scroll" ng-bind="curLanguage.LANDING_LEARN_MORE"></a>
                </div>
                <span ng-if="item.mask" class="bg-mask"></span>
            </div>
        </div>

        <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev" ng-non-bindable>
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next" ng-non-bindable>
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <ol class="carousel-indicators" ng-non-bindable>
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

    </header>

    <section id="services" style="padding: 50px 0; background-color: white;">
        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <div class="img-box">
                            <img src="img/Icon_Affordable Shipping.jpg">
                        </div>
                        <p ng-bind="curLanguage.LANDING_DELIVER"></p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <div class="img-box">
                            <img src="img/Icon_Drop Offf Shipping Network.png">
                        </div>
                        <p ng-bind="curLanguage.LANDING_FIND_MULTIPLE"></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box ">
                        <div class="img-box">
                            <img src="img/Icon_Status Updates.png">
                        </div>
                        <p ng-bind="curLanguage.LANDING_TRACK_YOUR_SHIPMENTS"></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <div class="img-box">
                            <img src="img/Icon_Data Analysis.jpg">
                        </div>
                        <p ng-bind="curLanguage.LANDING_SMARTLY"></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <div class="img-box">
                            <img src="img/1470667710_document-open.png">
                        </div>
                        <p ng-bind="curLanguage.LANDING_MANAGE"></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <div class="img-box">
                            <img src="img/truck.png">
                        </div>
                        <p ng-bind="curLanguage.LANDING_CHOOSE"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" ng-bind="curLanguage.LANDING_ECOMMERCE"></h2>
                    <hr class="light">
                    <p class="text-faded" ng-bind="curLanguage.LANDING_EXPERIENCE"></p>
                    <a ng-click="authViaFacebook()" class="btn btn-default btn-xl" ng-bind="curLanguage.LANDING_TRY_IT_OUT">TRY IT OUT</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <h2 class="section-heading m-b-lg" ng-bind="curLanguage.LANDING_GET_IN_TOUCH"></h2>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p><a href="tel:+6622613540">+662 261 3540 </a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:info@smartship.com">info@smartship.com</a></p>
                </div>
            </div>
        </div>
    </section>

</div>