<div class="wrapper wrapper-content animated fadeInRight">
    <h1 ng-bind="curLanguage.ADD_PASSWORD"></h1>
    <div class="row">
        <form data-toggle="validator" id="addPasswordForm" name="addPasswordForm" class="m-t" role="form" ng-submit="editUser(addPasswordForm.$valid, user)"
              novalidate>
            <div class="form-group">
                <input name="password" minlength="5" type="password" class="form-control" placeholder="{{curLanguage.PASSWORD}}"
                       ng-model="user.password" ng-disabled="showCodeInput" maxlength="20" required>

                <div class="validation-error" ng-if="notMatchedPassword">
                    <span class="error" ng-bind="validationErrors.password"></span>
                </div>

                <ng-messages for="addPasswordForm.password.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <input name="passwordRepeat" ng-change="checkPasswords()" type="password" class="form-control"
                       placeholder="{{curLanguage.PASSWORD + ' ' + curLanguage.CONFIRM}}"
                       ng-model="user.passwordRepeat" ng-disabled="showCodeInput" maxlength="20" minlength="5" required>
                <ng-messages for="addPasswordForm.passwordRepeat.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b" ng-bind="curLanguage.ADD_PASSWORD"></button>
        </form>

        <div class="row text-center" ng-if="qrImage">
            <img ng-src="{{qrImage}}">
            <br>
            <a class="text-center" ng-href="{{qrImage}}" style="word-break: break-all;" target="_blank">{{qrImage |
                limitTo: 90}}</a>
        </div>

        <p class="error" ng-show="error">{{error}}</p>
    </div>
</div>

<script type="text/ng-template" id="error-messages">
    <div ng-message="required">{{curLanguage.ERROR_REQUIRED}}</div>
    <div ng-message="maxlength">{{curLanguage.FIELD_LARGE}}</div>
    <div ng-message="minlength">{{curLanguage.FIELD_SHORT}}</div>
    <div ng-message="email">{{curLanguage.EMAIL_NOT_CORRECT}}</div>
</script>
