<div class="wrapper wrapper-content animated fadeInRight">
    <h1>Edit email</h1>
    <div class="row">
        <form data-toggle="validator" id="editEmailForm" name="editEmailForm" class="m-t" role="form" ng-submit="editUser(editEmailForm.$valid, user)"
              novalidate>
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="Email" ng-disabled="showCodeInput"
                       ng-model="user.email" required>
                <ng-messages for="editEmailForm.email.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>


            <button type="submit" class="btn btn-primary block full-width m-b">Edit</button>
        </form>

        <div class="row text-center" ng-if="qrImage">
            <img ng-src="{{qrImage}}">
            <br>
            <a class="text-center" ng-href="{{qrImage}}" style="word-break: break-all;" target="_blank">{{qrImage | limitTo: 90}}</a>
        </div>

        <p class="error" ng-show="error">{{error}}</p>
    </div>
</div>

<script type="text/ng-template" id="error-messages">
    <div ng-message="required">This field is required!</div>
    <div ng-message="maxlength">Field is too large!</div>
    <div ng-message="minlength">Field is too short!</div>
    <div ng-message="email">Email is not correct!</div>
</script>
