<div class="wrapper wrapper-content">
    <h1 ng-bind="curLanguage.USER_REGISTRATION"></h1>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form name="registrationForm" id="registrationForm" class="main-form" autocomplete="off" ng-submit="regUser(registrationForm.$valid, registerUser)"  form-events
            novalidate>
                <div ng-if="!profile.user.email" class="form-group">
                    <div><label for="phone" ng-bind="curLanguage.EMAIL"></label></div>
                    <input name="email" type="email" class="form-control" placeholder="{{curLanguage.EMAIL}}" ng-disabled="showCodeInput"
                           ng-model="registerUser.email"
                           required>
                    <ng-messages for="registrationForm.email.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>

                <div class="form-group">
                    <div><label for="phone" ng-bind="curLanguage.PHONE"></label></div>
                <div class="input-group m-b-md">
                    <div class="input-group">
                        <span class="input-group-addon m-b-xl">66</span>
                        <input type="text" id="phone" name="phone" placeholder="{{curLanguage.PHONE}}" ng-model="registerUser.phone"
                               class="form-control" minlength="9" maxlength="9" only-numbers
                               required/>
                    </div>
                    <ng-messages for="registrationForm.phone.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>
                    </div>
                <div class="form-group">
                    <div><label for="nationalId" ng-bind="curLanguage.NATIONAL_ID"></label></div>
                    <input type="text" id="nationalId" name="national" placeholder="{{curLanguage.NATIONAL_ID}}"
                           maxlength="20"
                           ng-model="registerUser.nationalId" class="form-control"/>
                    <ng-messages for="registrationForm.national.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>
                <div class="form-group">
                    <div><label ng-bind="curLanguage.POSTCODE"></label></div>
                    <ui-select name="postcode" only-numbers ng-model="postcode" on-select="postcodeSelected(postcode)"
                               theme="bootstrap" ng-disabled="disabled" required>
                        <ui-select-match placeholder="{{curLanguage.POSTCODE}}">
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices refresh="updatePostcodes($select.search)" refresh-delay="0"
                                           repeat="code in (autocomplitePostcodeList | filter: $select.search) track by $index">
                            <span ng-bind="code"></span>
                        </ui-select-choices>
                    </ui-select>

                    <ng-messages for="registrationForm.postcode.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>

                <div class="form-group">
                    <div><label ng-bind="curLanguage.DISTRICT"></label></div>
                    <select class="form-control main-select"
                            name="district"
                            ng-model="registerUser.city"
                            ng-options="city as city.name for city in cityList track by city.id"
                            ng-disabled="!openDistrict"
                            required>
                    </select>
                    <ng-messages for="registrationForm.district.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>
                <div class="form-group">
                    <div><label for="district" ng-bind="curLanguage.PROVINCE"></label></div>
                    <input type="text" id="district" name="province" placeholder="{{curLanguage.PROVINCE}}" class="form-control"
                           ng-model="registerUser.region.name"
                           disabled="disabled" required/>
                    <ng-messages for="registrationForm.province.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>
                <div class="form-group">
                    <div><label for="address" ng-bind="curLanguage.ADDRESS"></label></div>
                    <input type="text" id="address" name="address" placeholder="{{curLanguage.ADDRESS}}" ng-model="registerUser.address"
                           class="form-control" required/>
                    <ng-messages for="registrationForm.address.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>
                <div class="form-group">
                    <div><label for="vatNumber" ng-bind="curLanguage.VAT"></label></div>
                    <input type="text"  id="vatNumber" name="vatNumber" placeholder="{{curLanguage.VAT}}"
                           ng-model="registerUser.vat" only-numbers maxlength="15" class="form-control">
                    <ng-messages for="registrationForm.vatNumber.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>
                <div class="form-group">
                    <div><label for="language" ng-bind="curLanguage.LANGUAGE"></label></div>
                    <select class="form-control main-select" name="{{curLanguage.LANGUAGE}}" id="language" ng-model="registerUser.language"
                            ng-change="getCurrentContent(registerUser.language)">
                        <option ng-selected="value.type == registerUser.language" ng-repeat="(key, value) in languages"
                                ng-value="value.type" ng-bind="value.name"></option>
                    </select>
                    <ng-messages for="registrationForm.language.$error" role="alert">
                        <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                    </ng-messages>
                </div>

                <!-- CONTROL BUTTONS-->
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">
                        <span>Save</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<!--error messages template-->
<script type="text/ng-template" id="error-messages">
    <div ng-message="required">{{curLanguage.ERROR_REQUIRED}}</div>
    <div ng-message="maxlength">{{curLanguage.FIELD_LARGE}}</div>
    <div ng-message="minlength">{{curLanguage.FIELD_SHORT}}</div>
    <div ng-message="email">{{curLanguage.EMAIL_NOT_CORRECT}}</div>
    <div ng-message="pattern">{{curLanguage.INVALID_FORMAT}}</div>
</script>
