<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12" ng-class="{'low-limit': availableAmount <= currentLowLimit}">
        <h1 class="pull-left" ng-bind="curLanguage.TRANSACTIONS"></h1>
        <div class="clearfix border m-t-md text-right pull-right" ng-if="havePackage">
            <h3 class="inline account-balance m-r-sm" ng-if="havePackage">
                <span ng-bind="curLanguage.ACCOUNT_BALANCE + ': '"></span>
                <span class="number" ng-bind="'&#3647; ' + availableAmount"></span>
            </h3>
            <button type="button" class="btn btn-back btn-success"
                    ng-disabled="availableAmount <= 0" ng-click="openDialog()" ng-bind="curLanguage.WITHDRAW"></button>
        </div>

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight shipping transaction">
    <div class="row">
        <div class="col-lg-12">
            <uib-tabset active="activeJustified" justified="true" class="white-bg" ng-class="{'nopay': !havePackage}">
                <uib-tab index="0" heading="{{curLanguage.SHIPPING_CHARGE}}" select="getShippingCharge(filterParams, 'shipping')">
                    <div class="ibox-content">
                        <section class="auto-x" ng-if="shippingCharge.length">
                            <table class="table orders-table">
                                <thead>
                                <tr>
                                    <th ng-bind="curLanguage.ITEM"></th>
                                    <th ng-bind="curLanguage.TRACKING_NUMBER"></th>
                                    <th ng-bind="curLanguage.DELIVERY_ADDRESS"></th>
                                    <th ng-bind="curLanguage.DISTRICT"></th>
                                    <th ng-bind="curLanguage.POSTCODE"></th>
                                    <th ng-bind="curLanguage.PROVINCE"></th>
                                    <th ng-bind="curLanguage.DROP_OFF_PARTNER"></th>
                                    <th ng-bind="curLanguage.ORDER_STATUS"></th>
                                    <th ng-bind="curLanguage.WEIGHT"></th>
                                    <th ng-bind="curLanguage.SHIPPING_CHARGE + ', &#3647;'"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="shipping in shippingCharge track by $index">
                                        <td ng-bind="shipping.orderName"></td>
                                        <td ng-bind="shipping.trackingId | notAvailable"></td>
                                        <td ng-bind="shipping.address"></td>
                                        <td ng-bind="shipping.district"></td>
                                        <td ng-bind="shipping.postcode"></td>
                                        <td ng-bind="shipping.province"></td>
                                        <td ng-bind="shipping.serviceType | serviceType: 'listName'"></td>
                                        <td>
                                            <span class="label btn-status label-primary {{shipping.statusClass}}" ng-bind="shipping.statusText"></span>
                                        </td>
                                        <td ng-bind="shipping.weight | notAvailable"></td>
                                        <td ng-bind="shipping.rate | notAvailable"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="{{curLanguage.TOP_UP}}" select="getTransaction(filterParams, 'transaction')">
                    <div class="ibox-content">
                        <section class="auto-x" ng-if="transactions.length">
                            <table class="table orders-table alt">
                                <thead>
                                    <tr>
                                        <th ng-bind="curLanguage.INVOICE_NUMBER"></th>
                                        <th ng-bind="curLanguage.SHIPPING_PACKAGE"></th>
                                        <th ng-bind="curLanguage.TRANSACTION_STATUS"></th>
                                        <th ng-bind="curLanguage.PRICE + ', &#3647;'"></th>
                                        <th ng-bind="curLanguage.DATE"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="transaction in transactions track by $index">
                                        <td ng-bind="transaction.invoiceNo"></td>
                                        <td ng-bind="transaction.package.name"></td>
                                        <td>
                                            <span class="label btn-status label-primary {{transaction.statusClass}}" ng-bind="transaction.statusText"></span>
                                        </td>
                                        <td ng-bind="transaction.amount"></td>
                                        <td ng-bind="transaction.createdAt*1000 | date:'dd/MM/yyyy'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="{{curLanguage.WITHDRAWAL}}" select="getWithdrawal(filterParams, 'withdrawal')">
                    <div class="ibox-content">
                        <section class="auto-x" ng-if="withdrawals.length">
                            <table class="table orders-table alt">
                                <thead>
                                <tr>
                                    <th ng-bind="curLanguage.REFERENCE_NUMBER"></th>
                                    <th ng-bind="curLanguage.ORDER_STATUS"></th>
                                    <th ng-bind="curLanguage.AMOUNT + ', &#3647;'"></th>
                                    <th ng-bind="curLanguage.DATE"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="withdrawal in withdrawals track by $index">
                                    <td ng-bind="withdrawal.referenceNo"></td>
                                    <td>
                                        <span class="label btn-status label-primary {{withdrawal.statusClass}}" ng-bind="withdrawal.statusText"></span>
                                    </td>
                                    <td ng-bind="withdrawal.amount"></td>
                                    <td ng-bind="withdrawal.updatedAt*1000 | date:'dd/MM/yyyy'"></td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="balance white-bg p-xs"
                 ng-class="{'low-limit': availableAmount <= currentLowLimit}">
                <div class="clearfix">
                    <form id="filterForm" class="filterForm" name="filterForm" novalidate>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group" ng-if="hideBlock === 1">
                                    <label for="tracking_id" ng-bind="curLanguage.TRACKING_NUMBER"></label>
                                    <input id="tracking_id" name="tracking_id" class="form-control" ng-keyup="keyUp()" ng-keydown="keyDown()"
                                           type="text" ng-model="filterParams.trackingId" placeholder="{{curLanguage.TRACKING_NUMBER}}">
                                </div>
                                <div class="form-group" ng-if="hideBlock === 2">
                                    <label for="invoice_number" ng-bind="curLanguage.INVOICE_NUMBER"></label>
                                    <input id="invoice_number" name="invoice_number" class="form-control" ng-keyup="keyUp()" ng-keydown="keyDown()"
                                           type="text" ng-model="filterParams.invoiceNo" placeholder="{{curLanguage.INVOICE_NUMBER}}">
                                </div>
                                <div class="form-group" ng-if="hideBlock === 3">
                                    <label for="reference_number" ng-bind="curLanguage.REFERENCE_NUMBER"></label>
                                    <input id="reference_number" name="invoice_number" class="form-control" ng-keyup="keyUp()" ng-keydown="keyDown()"
                                           type="text" ng-model="filterParams.referenceNo" placeholder="{{curLanguage.REFERENCE_NUMBER}}">
                                </div>
                            </div>
                            <div class="col-lg-4" ng-if="hideBlock !== 3">
                                <label for="date_create" ng-bind="curLanguage.DATE_FROM"></label>
                                <div class="input-group" >
                                    <span class="input-group-btn">
                                        <label for="date_create" class="btn btn-success">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </label>
                                    </span>
                                    <input id="date_create" type="text" class="form-control" only-text date-picker="startTime"
                                           ng-change="orderSubmit(hideBlock === 1 ? 'getShippingCharge' : 'getTransaction')"
                                           ng-model="filterParams.fromDate" placeholder="{{curLanguage.DATE_FROM}}">
                                </div>
                            </div>

                            <div class="col-lg-4" ng-if="hideBlock !== 3">
                                <label for="date_update" ng-bind="curLanguage.DATE_TO"></label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <label for="date_update" class="btn btn-success">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </label>
                                    </span>
                                    <input id="date_update" type="text" class="form-control" only-text date-picker="endDate"
                                           ng-change="orderSubmit(hideBlock === 1 ? 'getShippingCharge' : 'getTransaction')"
                                           ng-model="filterParams.toDate" placeholder="{{curLanguage.DATE_TO}}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Pagination -->
            <div class="row text-center" ng-show="pagination.pages > 1">
                <ul uib-pagination
                    class="pagination-sm text-center"
                    ng-change="pageChanged(filterParams)"
                    total-items="pagination.count"
                    rotate="false"
                    items-per-page="pagination.pageLimit"
                    max-size="5"
                    ng-model="pagination.currentPage"
                    previous-text="{{curLanguage.PAGINATION_PREVIOUS}}"
                    next-text="{{curLanguage.PAGINATION_NEXT}}">
                </ul>
            </div>
        </div>
    </div>
</div>