<div class="wrapper wrapper-content alt animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <small>
                    <img src="./img/logo.png" alt="SmartShip" width="440" height="108">
                </small>
            </div>
        </div>
    </div>
</div>
<section class="statistic-section wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3" ng-repeat="(key, value) in analytics">
            <div class="box white-bg">
                <header class="heading">
                    <h4 class="pull-left" ng-bind="value.title"></h4>
                    <em ng-if="key !== 'pendingOrders'" class="pull-right date btn-primary"
                        ng-bind="key === 'chargeOrders' ? curLanguage.TWO_WEEKS : curLanguage.WEEKLY"></em>
                </header>
                <strong class="count" ng-if="value.count !== null" ng-bind="value.count | number: 2"></strong>
                <strong class="count" ng-if="value.count === null" ng-bind="'N/A'"></strong>
                <div ng-if="key !== 'chargeOrders'" class="clearfix">
                    <strong class="sub-title pull-left" ng-bind="value.subTitle"></strong>
                    <em class="volume pull-right">
                        <span ng-if="value.volume === null">N/A</span>
                        <span ng-if="value.volume !== null" ng-bind="value.volume + '%'"></span>
                        <!--<i ng-if="isHelper(value.volume) && value.volume !== null" class="fa fa-level-up"></i>-->
                        <!--<i ng-if="!isHelper(value.volume) && value.volume !== null" class="fa fa-level-down"></i>-->
                    </em>
                </div>
            </div>
        </div>
    </div>
    <div class="row" label-degree="isDegree(value)">
        <div class="col-lg-12">
            <div class="box white-bg chart-holder">
                <canvas id="base" class="main-chart chart-line"
                        chart-data="data" chart-labels="labels" width="1300" height="400"
                        chart-dataset-override="datasetOverride" chart-options="options">
                </canvas>
            </div>
        </div>
    </div>
</section>