<section class="landing term-section gray-bg" affix-header>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" ui-sref="index.edit"></a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="col-lg-10 col-lg-offset-1">
            <h1 class="title text-center">สัญญาการใช้บริการ</h1>
            <p>
                สัญญาฉบับนี้ทำขึ้นเมื่อวันที่.......เดือน...........................พ.ศ............... ระหว่าง
                นาย/นาง/นางสาว........................................................... ที่อยู่เลขที่..............
                ซอย................................ถนน......................แขวง/ตำบล............................. เขต/อำเภอ..............................
                จังหวัด..................................... รหัสไปรษณีย์...................เลขที่บัตรประจำตัวประชาชน...........................................
                (ซึ่งต่อไปนี้ในสัญญาเรียกว่า <b>“ผู้ว่าจ้าง”</b>) ฝ่ายหนึ่ง กับ
            </p>

            <p><b>บริษัท เอคอมเมิร์ซ</b> จำกัด สำนักงานใหญ่ตั้งอยู่ที่ เลขที่ 689 อาคารภิรัช ทาวเวอร์ ชั้น 29 ถนนสุขุมวิท แขวงคลองตันเหนือ
                เขตวัฒนา จังหวัดกรุงเทพมหานคร รหัสไปรษณีย์ 10110 ทะเบียนเลขที่ 0105556095051 (ซึ่งต่อไปนี้ในสัญญาเรียกว่า
                <b>“ผู้รับจ้าง”</b>) อีกฝ่ายหนึ่ง</p>
            <p>โดยที่ผู้รับจ้างจะบริการรับสินค้า ณ สถานที่ที่ผู้รับจ้างกำหนดไว้และส่งต่อให้ผู้รับสินค้า
                (ซึ่งต่อไปนี้ในสัญญาเรียกว่า “ลูกค้า”)<br>
                คู่สัญญาทั้งสองฝ่ายจึงตกลงทำสัญญากัน โดยมีรายละเอียดดังต่อไปนี้
            </p>
            <article class="nested-lists">
                <ol type="1">
                    <li>
                        <b class="title-list">วัตถุประสงค์ของสัญญาและข้อกำหนดทั่วไป</b>
                        <ol type="1">
                            <li>ผู้ว่าจ้างตกลงว่าจ้าง และผู้รับจ้างตกลงรับจ้างเป็นผู้บริการรับพัสดุต่างๆที่อยู่ในครอบครองของของผู้ว่าจ้าง (“สินค้า”) จากผู้ว่าจ้างตามจุดที่ผู้รับจ้างกำหนดไว้s</li>
                            <li>ผู้รับจ้างตกลงจะให้บริการขนส่งสินค้าไปยังลูกค้าตามที่อยู่ที่ผู้ว่าจ้างส่งเข้าระบบ</li>
                            <li>ผู้รับจ้างตกลงจะให้บริการส่งคืนสินค้าหากการจัดส่งไปยังลูกค้าไม่สำเร็จ</li>
                        </ol>
                    </li>
                    <li>
                        <b class="title-list">ระยะเวลาของสัญญาและการยกเลิกสัญญา</b>
                        <ol>
                            <li>สัญญานี้กำหนดระยะเวลา 1 ปี นับตั้งแต่วันที่ระบุในสัญญานี้ เว้นแต่จะสิ้นสุดลงก่อนครบกำหนดตามเงื่อนไขที่ระบุไว้ในข้อ ข้อ และข้อ
                                ของสัญญานี้ ในกรณีที่คู่สัญญาประสงค์จะยกเลิกสัญญาก่อนครบอายุสัญญา
                                คู่สัญญาฝ่ายที่ประสงค์จะเลิกสัญญาจะต้องส่งหนังสือบอกกล่าวแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบล่วงหน้าไม่น้อยกว่า 30
                                (สามสิบ)วันทำการ
                            </li>
                            <li>
                                ระหว่างระยะเวลาของสัญญานี้ หากผู้รับจ้างปฏิบัติผิดสัญญาข้อหนึ่งขอใดหรือไม่สามารถปฏิบัติงานที่รับจ้างได้
                                และไม่สามารถแก้ไขเหตุแห่งการผิดสัญญาดังกล่าวได้ภายใน 30 (สามสิบ) วันทำการ
                                นับตั้งแต่วันที่ได้รับแจ้งเป็นลายลักษณอักษรจากผู้ว่าจ้าง ผู้ว่าจ้างมีสิทธิบอกเลิกสัญญาได้ทันที
                            </li>
                            <li>
                                กรณีผู้รับจ้างบริการไม่สามารถดำเนินการรับจ้างบริการได้ตามกำหนดและจำนวนที่ได้รับแจ้งจากผู้ว่าจ้าง
                                ผู้ว่าจ้างมิสิทธิที่จะบอกเลิกสัญญาได้ทันที
                            </li>
                            <li>
                                ในกรณีที่คู่สัญญาฝ่ายหนึ่งถูกพิทักษ์ทรัพย์เด็ดขาด หรือเป็นบุคคลล้มละลาย หรือเข้าสู่กระบวนการฟื้นฟูกิจการ
                                หรือไม่ประกอบกิจการต่อไป หรือควบรวมกิจการกับบุคคล บริษัท หรือองค์กรอื่น
                                คู่สัญญาอีกฝ่ายหนึ่งมีสิทธิบอกเลิกสัญญาฉบับนี้ได้ทันที
                            </li>
                            <li>
                                การสิ้นสุดสัญญาข้างต้น
                                ไม่ทำให้คู่สัญญาหลุดพ้นจากหน้าที่และความรับผิดชอบในการที่จะต้องชำระชดเชยค่าเสียหายใดๆที่เกิดขึ้นก่อนหรือขณะที่
                                มีการบอกเลิกสัญญาให้แก่คู่สัญญาอีกฝ่ายหนึ่ง
                            </li>
                            <li>
                                สัญญานี้จะต่ออายุโดยอัตโนมัติหากเมื่อครบอายุสัญญาแล้วไม่มีการเปลี่ยนแปลงหรือบอกเลิกสัญญานี้
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b class="title-list">การบริการตามสัญญา</b>
                        <ol>
                            <li>
                                <b class="title-list">การบริการจุดรับสินค้า (Drop Off)</b>
                                <ol>
                                    <li>
                                        การบริการจุดรับสินค้า ผู้รับจ้างตกลงจัดหาบุคลากรและอุปกรณ์ต่างๆ ซึ่งใช้ในการบริการอย่างเพียงพอ
                                        เพื่อปฏิบัติการตามสัญญา โดยในการปฏิบัติงานที่รับจ้างนั้นผู้รับจ้างจะปฏิบัติตามกฏหมาย คำสั่ง กฏเกณฑ์
                                        ที่มีผลบังคับใช้ในระหว่างสัญญาตามมาตรฐานและจรรยาบรรณแห่งวิชาชีพ
                                    </li>
                                    <li>
                                        ผู้ว่าจ้างจะส่งข้อมูลเข้าระบบของผู้รับจ้างไม่เกินเวลา 13.00 น. ของวัน จันทร์ - ศุกร์
                                        และผู้ว่าจ้างจะนำสินค้ามาส่ง ณ จุดบริการรับสินค้าของผู้รับจ้างไม่เกิน 14.00 น. ของวันนั้นๆ
                                        จึงจะถือว่าเป็นการส่งสินค้าตรงตามเวลาและเข้าเงื่อนไขระยะเวลาการจัดส่งสินค้าไปยังลูกค้า(SLA)
                                    </li>
                                    <li>
                                        หากผู้ว่าจ้างส่งสินค้า ณ จุดบริการรับสินค้าเกินระยะเวลาที่กำหนดไว้ในข้อ 3.1.2
                                        ผู้รับจ้างถือว่าสินค้ารายการนั้นๆถูกนำมาส่ง ณ จุดบริการรับสินค้าในวันถัดไป
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <b class="title-list">การบริการส่งสินค้าไปยังลูกค้า (Delivery)</b>
                                <ol>
                                    <li>
                                        ผู้รับจ้างตกลงจัดส่งสินค้าไปยังลูกค้าตามที่อยู่ที่ผู้ว่าจ้างส่งเข้าระบบ
                                        โดยมีระยะเวลาการจัดส่งจำแนกตามพื้นที่ (Service Level Agreement: SLA) ดังนี้
                                        <div class="table-holder">
                                            <table class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>พื้นที่การจัดส่ง</th>
                                                        <th>ระยะเวลาจัดส่งหลังจากวันส่งสินค้า</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>กรุงเทพฯและปริมณฑล</td>
                                                        <td>1-2 วันทำการ</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ต่างจังหวัด</td>
                                                        <td>2-4 วันทำการ</td>
                                                    </tr>
                                                    <tr>
                                                        <td>พื้นที่ห่างไกลและพื้นที่พิเศษ*</td>
                                                        <td>3-7 วันทำการ</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <em class="note">
                                                *อ.ทองผาภูมิ, อ.สังขละบุรี, อ.ปาย, อ.ขุนยวม, จ.ยะลา, จ.นราธิวาส, จ.ปัตตานี, พื้นที่เกาะ(ยกเว้นภูเก็ตที่เป็นเกาะหลัก)
                                                และพื้นที่ที่ห่างจากตัวเมืองมากกว่า 150 กิโลเมตร
                                            </em>
                                        </div>
                                    </li>
                                    <li>
                                        ความล่าช้าอันเกิดจากผู้ฝากส่ง หรือลูกค้า หรือจากภัยธรรมชาติ การก่อการร้าย
                                        เหตุการณ์ความไม่สงบทางการเมือง หรือเหตุสุดวิสัยอันไม่สามารถควบคุมได้ ไม่นับรวมเป็นระยะเวลาการจัดส่งตามข้อ
                                    </li>
                                    <li>
                                        ผู้ว่าจ้างตกลงชำระค่าบริการจัดส่งสินค้าไปยังลูกค้า (Delivery Fee) ตามน้ำหนักสินค้าซึ่งชั่ง ณ
                                        จุดรับสินค้าข้างต้น โดยราคาค่าจัดส่งสินค้าขึ้นอยู่กับน้ำหนักและพื้นที่การจัดส่ง ดังนี้
                                        <div class="table-holder">
                                            <table class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">น้ำหนักสินค้า (กิโลกรัม)</th>
                                                        <th colspan="2">ค่าจัดส่งสินค้า</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Weight Class</td>
                                                        <td>Weight (kg)</td>
                                                        <td>กรุงเทพฯและปริมณฑล</td>
                                                        <td>
                                                            ต่างจังหวัด,
                                                            พื้นที่ห่างไกลและพื้นที่พิ
                                                            เศษ
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>S</td>
                                                        <td>0</td>
                                                        <td>63</td>
                                                        <td>64</td>
                                                    </tr>
                                                    <tr>
                                                        <td>S</td>
                                                        <td>0,5</td>
                                                        <td>66</td>
                                                        <td>73</td>
                                                    </tr>
                                                    <tr>
                                                        <td>S</td>
                                                        <td>1</td>
                                                        <td>69</td>
                                                        <td>75</td>
                                                    </tr>
                                                    <tr>
                                                        <td>M</td>
                                                        <td>2</td>
                                                        <td>69</td>
                                                        <td>82</td>
                                                    </tr>
                                                    <tr>
                                                        <td>M</td>
                                                        <td>3</td>
                                                        <td>69</td>
                                                        <td>104</td>
                                                    </tr>
                                                    <tr>
                                                        <td>M</td>
                                                        <td>4</td>
                                                        <td>69</td>
                                                        <td>110</td>
                                                    </tr>
                                                    <tr>
                                                        <td>M</td>
                                                        <td>5</td>
                                                        <td>69</td>
                                                        <td>110</td>
                                                    </tr>
                                                    <tr>
                                                        <td>L</td>
                                                        <td>6</td>
                                                        <td>92</td>
                                                        <td>133</td>
                                                    </tr>
                                                    <tr>
                                                        <td>L</td>
                                                        <td>7</td>
                                                        <td>115</td>
                                                        <td>133</td>
                                                    </tr>
                                                    <tr>
                                                        <td>L</td>
                                                        <td>8</td>
                                                        <td>115</td>
                                                        <td>133</td>
                                                    </tr>
                                                    <tr>
                                                        <td>L</td>
                                                        <td>9</td>
                                                        <td>126</td>
                                                        <td>133</td>
                                                    </tr>
                                                    <tr>
                                                        <td>L</td>
                                                        <td>10</td>
                                                        <td>126</td>
                                                        <td>133</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>11</td>
                                                        <td>152</td>
                                                        <td>133</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>12</td>
                                                        <td>152</td>
                                                        <td>200</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>13</td>
                                                        <td>152</td>
                                                        <td>200</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>14</td>
                                                        <td>152</td>
                                                        <td>200</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>15</td>
                                                        <td>152</td>
                                                        <td>200</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>16</td>
                                                        <td>207</td>
                                                        <td>202</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>17</td>
                                                        <td>207</td>
                                                        <td>244</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>18</td>
                                                        <td>207</td>
                                                        <td>244</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>19</td>
                                                        <td>207</td>
                                                        <td>244</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>20</td>
                                                        <td>207</td>
                                                        <td>244</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li>
                                        ผู้รับจ้างจะเริ่มคิดค่าบริการหลังจากรับสินค้าจากผู้ว่าจ้าง ณ จุดให้บริการรับฝาก
                                        โดยยึดตามเวลาที่สแกนเข้าระบบหรือเวลาที่ประทับตรา
                                    </li>
                                    <li>
                                        ค่าบริการรวมภาษีมูลค่าเพิ่มแล้ว 7%
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <b class="title-list">การบริการส่งคืนสินค้า (Return)</b>
                                <ol>
                                    <li>
                                        ผู้รับจ้างตกลงจะส่งคืนสินค้าที่จัดส่งไปยังลูกค้าไม่สำเร็จ (Failed Delivery)
                                        โดยจะทำการส่งคืนไปยังที่อยู่ของผู้ว่าจ้างตามที่ได้ลงทะเบียนไว้ในระบบของผู้รับจ้าง
                                    </li>
                                    <li>
                                        ผู้ว่าจ้างตกลงจะรับสินค้าคืนไว้ และจะรับผิดชอบค่าบริการส่งคืนสินค้า (Return Fee)
                                        ในอัตราเท่ากับค่าบริการจัดส่งสินค้าไปยังลูกค้า (Delivery Fee)
                                    </li>
                                    <li>
                                        ระยะเวลาการส่งคืนสินค้าจะเท่ากับระยะเวลาการจัดส่งสินค้าไปยังลูกค้า (Delivery)
                                        โดยเริ่มนับหลังจากวันที่ระบุในระบบว่าจะทำการส่งคืน
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b class="title-list">หลักประกันการปฏิบัติงาน</b>
                        <ol>
                            <li>
                                <b class="title-list">ระยะเวลาของความรับผิดชอบ</b>
                                <ol>
                                    <li>
                                        ผู้รับจ้างตกลงเป็นผู้รับความเสี่ยงภัยในสินค้านับตั้งแต่เวลาที่รับสินค้าจากผู้ว่าจ้าง ณ จุดให้บริการรับฝาก
                                        โดยยึดตามเวลาที่สแกนเข้าระบบหรือเวลาที่ประทับตรา
                                        โดยผู้รับจ้างตกลงรับผิดในความเสียหายของสินค้าที่อยู่ในความดูแลและครอบครองของผู้รับจ้างจนกว่าลูกค้าจะลงนามยินย
                                        อมรับสินค้านั้นๆไว้เรียบร้อยแล้ว (Prove of Delivery: POD)
                                        หรือจนกว่าผู้ว่าจ้างจะลงนามยินยอมรับสินค้านั้นๆในกรณีที่ส่งคืน
                                    </li>
                                    <li>
                                        ผู้ว่าจ้างสามารถตรวจสอบข้อสงสัยต่างๆ หรือร้องขอเอกสารหรือหลักฐานการลงนามยินยอมรับสินค้า (POD
                                        Document) ได้ภายใน 7 (เจ็ด)วันทำการนับจากวันที่แจ้งสถานะการรับสินค้าหรือการส่งคืนในระบบของผู้รับจ้าง
                                    </li>
                                    <li>
                                        ผู้ว่าจ้างสามารถร้องเรียนหรือตรวจสอบข้อสงสัยต่างๆภายใน 30 (สามสิบ)วันทำการ
                                        นับจากวันที่ส่งสินค้าให้แก่ผู้รับจ้าง
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <b class="title-list">เงื่อนไขการรับผิดชอบ</b>
                                <ol>
                                    <li>
                                        ผู้รับจ้างจะไม่รับผิดชอบความเสียหายอันเกิดจากการบรรจุกล่องพัสดุ (Outer Box)
                                        ที่ไม่มีความมั่นคงแข็งแรงอันเหมาะสมกับสินค้าที่บรรจุภายใน หรือไม่มีการบรรจุลงในกล่องพัสดุ
                                        และปราศจากวัสดุใดๆที่สามารถรองรับหรือป้องกันตัวสินค้าจากแรงหรือการกระแทกอันเกิดจากการขนส่งสินค้า
                                    </li>
                                    <li>
                                        ผู้รับจ้างจะรับผิดชอบต่อความเสียหายที่เกิดขึ้นกับตัวสินค้าเท่านั้น
                                    </li>
                                    <li>
                                        ความเสียหายที่เกิดขึ้นแก่กล่องพัสดุหรือบรรจุภัณฑ์ของสินค้า (Package)
                                        หรือความเสียหายของระบบการทำงานภายในของสินค้า (System) ที่ไม่สามารถมองเห็นด้วยตาเปล่า (Invisible)
                                        ไม่รวมอยู่ในความรับผิดชอบของผู้รับจ้าง
                                    </li>
                                    <li>
                                        หากตัวสินค้าเกิดความเสียหายโดยที่กล่องพัสดุมีสภาพสมบูรณ์เป็นปกติ
                                        ผู้รับจ้างจะไม่รับผิดชอบในความเสียหายนี้
                                    </li>
                                    <li>
                                        ผู้รับจ้างจะไม่รับผิดชอบความเสียหายอันเกิดจากภัยธรรมชาติ การก่อการร้าย
                                        เหตุการณ์ความไม่สงบทางการเมือง หรือเหตุสุดวิสัยอันไม่สามารถควบคุมได้
                                    </li>
                                    <li>
                                        ผู้รับจ้างจะไม่รับผิดชอบความเสียหายของสินค้าดังต่อไปนี้
                                        <ul>
                                            <li>
                                                วัตถุมีคมที่ไม่มีเครื่องหุ้มห่อป้องกันพอ หรือวัตถุระเบิด หรือสิ่งโสโครก หรือสิ่งมีพิษ หรือสัตว์มีชีวิต
                                                หรือสิ่งของที่มีสภาพอันน่าจะก่อให้เกิดอันตราย หรือ เสียหายแก่สินค้าอื่นในระหว่างขนส่ง หรือแก่เจ้าหน้าที่
                                            </li>
                                            <li>
                                                หีบห่อหรือบรรจุภัณฑ์สินค้าอันเห็นได้ประจักษ์ว่ามีถ้อยคำ เครื่องหมาย
                                                หรือลวดลายที่สื่อถึงความเสียหายของชาติ มีตราหรือลวดลายของธงชาติ หรือหยาบคาย ลามก
                                                หรือเป็นที่ยุยงส่งเสริมให้มีการกำเริบ หรือหยาบคาย หรือขู่เข็ญ หรือกรรโชก หรือสิ่งอื่นๆ ที่ผิดกฎหมาย
                                            </li>
                                            <li>
                                                ของเหลวทุกชนิด
                                            </li>
                                            <li>
                                                สินค้าที่ผลิตจาก หรือมีส่วนประกอบจาก วัสดุที่เปราะบางแตกหักง่าย เช่นแก้ว กระจก เครื่องปันดินเผา
                                                เซรามิก เครื่องเคลือบต่างๆ
                                            </li>
                                            <li>
                                                สิ่งของลามกอนาจารหรือผิดศีลธรรม
                                            </li>
                                            <li>
                                                สิ่งของปลอมแปลงหรือลอกเลียนแบบโดยละเมิดลิขสิทธิ์
                                            </li>
                                            <li>
                                                สิ่งของอื่นๆ ซึ่งเป็นสิ่งของต้องห้ามนำเข้าหรือเผยแพร่
                                            </li>
                                            <li>
                                                วัตถุไวไฟ หรือสินค้าอันตรายอื่นๆ
                                            </li>
                                            <li>
                                                อุปกรณ์ระเบิดที่ไม่มีแรงระเบิดและอาวุธยุทโธปกรณ์ทางทหาร รวมทั้งระเบิด มือที่ไม่มีแรงระเบิด
                                                ปลอกกระสุนที่ไม่มีแรงระเบิดและสิ่งที่คล้ายคลึงกัน
                                            </li>
                                            <li>
                                                ธนบัตร เหรียญกษาปณ์ พันธบัตร เอกสารสั่งจ่ายเงินให้แก่ผู้ถือทุกชนิด ทองคำขาว ทองคำ
                                                หรือเงินซึ่งทำเป็นรูปพรรณแล้วหรือไม่ก็ตาม หินมีค่า เครื่องเพชรพลอย
                                                หรือสิ่งของมีค่าอื่นๆที่ต้องฝากส่งโดยใช้บริการการรับประกัน
                                            </li>
                                            <li>
                                                สินค้าต้องห้ามตามข้อบังคับของ สมาคมการขนส่งทางอากาศระหว่างประเทศ (IATA)
                                                หรือองค์การการบินพลเรือนระหว่างประเทศ (ICAO) หรือไปรษณีย์ไทย
                                                หรือสินค้าที่ผิดกฏหมายแห่งราชอาณาจักรไทย
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <b class="title-list">มูลค่าความรับผิดชอบ</b>
                                <ol>
                                    <li>
                                        ผู้รับจ้างจะชดใช้ความเสียหายหรือสูญหายตามมูลค่าจริงของสินค้าอันปรากฏบนใบเสร็จหรือหลักฐาน
                                        แต่ไม่เกิน 2,000 (สองพัน)บาท ต่อกล่องพัสดุหรือต่อหมายเลขการจัดส่ง (Tracking number)
                                        เว้นแต่ผู้ว่าจ้างทำการซื้อประกันการขนส่งในข้อ 4.3.2
                                    </li>
                                    <li>
                                        หากผู้ว่าจ้างทำการซื้อประกันการขนส่ง โดยคิดเป็นมูลค่าร้อยละ1 (หนึ่ง) (1%) ของมูลค่าสินค้า
                                        จะได้รับการชดใช้ความเสียหายหรือสูญหายตามมูลค่าจริงของสินค้าอันปรากฏบนใบเสร็จหรือหลักฐาน แต่ไม่เกิน 50,000
                                        (ห้าหมื่น)บาท ต่อกล่องพัสดุหรือต่อหมายเลขการจัดส่ง (Tracking number)
                                    </li>
                                    <li>
                                        สินค้าหรือซากจะตกเป็นทรัพย์สินของผู้รับจ้าง เว้นแต่ว่ามูลค่าสินค้านั้นมากกว่ามูลค่าการรับผิดชอบที่ 2,000
                                        (สองพัน)บาท
                                    </li>
                                    <li>
                                        ผู้รับจ้างไม่จำเป็นต้องคืนเงินค่าขนส่งสินค้าแก่ผู้ว่าจ้างในกรณีนี้
                                    </li>
                                    <li>
                                        ผู้ว่าจ้างต้องยื่นหลักฐานเพื่อประกอบการชดใช้ภายใน 5 (ห้า)วันทำการ หลังจากผู้รับจ้างแจ้งให้ทราบ
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b class="title-list">การชำระเงิน</b>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้ว่าจ้างยินยอมให้ผู้รับจ้างเรียกเก็บค่าบริการต่างๆรวมถึงค่าธรรมเนียมการชำระเงิน
                            จากบัตรเครดิตตามที่ผู้ว่าจ้างได้ลงทะเบียนไว้ในระบบของผู้รับจ้าง
                            ซึ่งผู้รับจ้างสามารถเริ่มเก็บค่าบริการได้ทันทีหลังจากได้รับสินค้าจากผู้รับจ้างในข้อ 3.2.3
                        </p>
                    </li>
                    <li>
                        ผู้รับจ้างและผู้ว่าจ้างจะเก็บรักษาเป็นความลับและจะควบคุมให้พนักงาน ตัวแทน
                        ของผู้รับจ้างและผู้ว่าจ้างเก็บรักษาเป็นความลับ ข้อมูลทั้งหมดเกี่ยวกับผู้ว่าจ้างและผู้รับจ้าง หรือความลับทางการค้า
                        ที่ได้รับจากผู้ว่าจ้างหรือผู้รับจ้างไม่ว่าทางตรงหรือทางอ้อม จะไม่ใช้สำหรับจุดประสงค์อื่นใดนอกเหนือจากสัญญานี้
                        หรือเปิดเผยต่อบุคคลอื่น
                    </li>
                    <li>
                        การแก้ไขหรือเปลี่ยนแปลงใดๆเกียวกับสัญญานี้จะต้องมีการลงนามเป็นลายลักษณ์อักษรโดยคู่สัญญาทั้งสองฝ่าย
                        ข้อตกลงใดๆด้วยวาจาจะไม่มีผลผูกพันต่อคู่สัญญา
                    </li>
                    <li>
                        ถ้าประโยค ย่อหน้า หรือขอสัญญาในสัญญาฉบับนี้หรือในหลายกรณีดังกล่าวเป็นการละเมิดต่อกฏหมาย
                        ให้ส่วนของประโยค ย่อหน้า หรือข้อสัญญานั้นมีผลเป็นโมฆะเฉพาะส่วน
                        ส่วนที่เหลืออยู่ของสัญญาจะได้รับการปฏิบัติและตีความต่อไปว่ายังคงมีผลผูกพันคู่สัญญาอยู่
                    </li>
                    <li>
                        การสละสิทธิโดยคู่สัญญาฝ่ายใดในเรื่องการผิดสัญญาฉบับนี้ไม่ถือว่าเป็นการสละสิทธิ
                        หรือตีควาว่าเป็นการสละสิทธิการผิดข้อสัญญาเช่นเดียวกันนั้นต่อไปอีก หรือเป็นการสละสิทธิการผิดสัญญาในข้ออื่นด้วย
                    </li>
                    <li>
                        ส่วนหัวข้อสัญญานี้ใช้เพื่อความสะดวกเท่านั้น
                        จะไม่ถูกตีความไม่ว่าในทางใดๆว่าเป็นการเพิ่มหรือจำกัดข้อสัญญาและของคู่สัญญาที่ระบุไว้ในสัญญาฉบับนี้
                    </li>
                    <li>
                        สัญญาฉบับนี้ถูกตีความภายใต้กฏหมายไทย
                        ข้อพิพาทใดๆที่เกิดจากหรือมีความเกี่ยวข้องกับสัญญาฉบับนี้จะอยู่ภายใต้ศาลไทย
                    </li>
                    <li>
                        ผู้รับจ้างเปิดทำการวันจันทร์-ศุกร์ เวลา 09.00-18.00 น. ปิดทำการในวันเสาร์-อาทิตย์ และวันหยุดนักขัตฤกษ์
                        การเปลี่ยนแปลงใดๆจะแจ้งให้ผู้ว่าจ้างทราบล่วงหน้า
                    </li>
                </ol>
                <p>
                    สัญญานี้ทำขึ้นเป็น 2 (สอง)ฉบับ มีความถูกต้องตรงกัน ทั้งสองฝ่ายได้อ่านโดยตลอดแล้ว
                    เห็นว่าถูกต้องตามเจตนารมย์ที่ได้ไว้ต่อกันทุกประการ จึงได้ลงลายมือชื่อไว้เป็นหลักฐาน และต่างเก็บรักษาไว้ฝ่ายละฉบับ
                </p>
                <div class="table-holder">
                    <table class="data-table alt">
                        <thead>
                        <tr>
                            <th>ผู้ว่าจ้างรับทราบ</th>
                            <th>บริษัท เอคอมเมิร์ซ จำกัด</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ลายมือชื่อ.................................................................</td>
                            <td>ลายมือชื่อ.................................................................</td>
                        </tr>
                        <tr>
                            <td>ชื่อ-สกุล....................................................................</td>
                            <td>ชื่อ-สกุล Phensiri Sathianvongnusar</td>
                        </tr>
                        <tr>
                            <td>วันที่...............................................</td>
                            <td>ตำแหน่ง Chief Operations Officer</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>วันที่...............................................</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</section>