<!-- Wrapper-->
<div id="wrapper" class="{{mainClass}}">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}} fullheight">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'" class="topbar"></div>

        <!-- Main view  -->
        <div ui-view class="fullheight"></div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'" class="footbar"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->