<form id="filterForm" class="white-bg ibox-content" name="filterForm" novalidate>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="tracking_id" ng-bind="curLanguage.TRACKING_NUMBER"></label>
                <input id="tracking_id" name="tracking_id" class="form-control" ng-keyup="keyUp()" ng-keydown="keyDown()"
                       type="text" ng-model="filterParams.trackingId" placeholder="{{curLanguage.TRACKING_NUMBER}}">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label ng-bind="curLanguage.ORDER_STATUS"></label>
                <!--<input id="order_status" class="form-control" ng-keyup="keyUp()" ng-keydown="keyDown()"-->
                       <!--type="text" ng-model="filterParams.status" placeholder="Order status">-->
                <select class="form-control" name="district" id="district"
                        ng-model="filterParams.status"
                        ng-change="orderSubmit()">
                    <option value="" ng-selected="seleted" ng-bind="curLanguage.SELECT"></option>
                    <option ng-repeat="status in statuses track by $index" value="{{$index + 1}}" ng-bind="status">
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="receiver_email" ng-bind="curLanguage.RECEIVER_EMAIL"></label>
                <input id="receiver_email" class="form-control" ng-keyup="keyUp()" ng-keydown="keyDown()"
                       type="text" ng-model="filterParams.receiverEmail" placeholder="{{curLanguage.RECEIVER_EMAIL}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label for="date_create" ng-bind="curLanguage.DATE_ADDED"></label>
            <div class="input-group">
                <span class="input-group-btn">
                    <label for="date_create" class="btn btn-success">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </label>
                </span>
                <input id="date_create" type="text" class="form-control" only-text date-picker
                       ng-change="orderSubmit()"
                       ng-model="filterParams.createdAt" placeholder="{{curLanguage.DATE_ADDED}}">
            </div>
        </div>

        <div class="col-lg-4">
            <label for="date_update" ng-bind="curLanguage.DATE_MODIFIED"></label>
            <div class="input-group">
                <span class="input-group-btn">
                    <label for="date_update" class="btn btn-success">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </label>
                </span>
                <input id="date_update" type="text" class="form-control" only-text date-picker
                       ng-change="orderSubmit()"
                   ng-model="filterParams.updatedAt" placeholder="{{curLanguage.DATE_MODIFIED}}">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label for="receiver_name" ng-bind="curLanguage.RECEIVER_NAME"></label>
                <input id="receiver_name" class="form-control" ng-keyup="keyUp()" ng-keydown="keyDown()"
                       type="text" ng-model="filterParams.receiverName" placeholder="{{curLanguage.RECEIVER_NAME}}">
            </div>
        </div>
    </div>
</form>