<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img ng-if="currentUser.facebookId || profile.user.socials[0].socialId" alt="image" class="img-circle profile-img" ng-src='http://graph.facebook.com/{{currentUser.facebookId || profile.user.socials[0].socialId}}/picture?type=large'/>
                    <a class="dropdown-toggle text-center" dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{profile.user.firstName}}</strong>
                                <strong class="font-bold">{{profile.user.lastName}}</strong>
                            </span>
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{profile.user.mainEmail || profile.user.email}}</strong>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ng-click="logOut()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ng-if="currentUser.status !== 0" ui-sref-active="active">
                <a ui-sref="index.main">
                    <i class="fa fa-laptop"></i>
                    <span class="nav-label" ng-bind="curLanguage.MAIN_PAGE"></span>
                </a>
            </li>
            <li ng-if="currentUser.status !== 0" ui-sref-active="active">
                <a ui-sref="index.orders">
                    <i class="fa fa-cubes"></i>
                    <span class="nav-label" ng-bind="curLanguage.ORDERS"></span>
                </a>
            </li>
            <li ng-if="currentUser.status !== 0" ui-sref-active="active">
                <a ui-sref="index.edit">
                    <i class="fa fa-user"></i>
                    <span class="nav-label" ng-bind="curLanguage.EDIT_PROFILE"></span>
                </a>
            </li>
            <li ng-if="currentUser.status !== 0 && !profile.user.password && profile.user.authType == 2" ui-sref-active="active">
                <a ui-sref="index.password">
                    <i class="fa fa-lock"></i>
                    <span class="nav-label" ng-bind="curLanguage.ADD_PASSWORD"></span>
                </a>
            </li>
            <li ng-if="currentUser.status !== 0" ui-sref-active="active">
                <a ui-sref="index.shipping">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <span class="nav-label" ng-bind="curLanguage.SHIPPING_PACKAGES"></span>
                </a>
            </li>
            <li ng-if="currentUser.status !== 0" ui-sref-active="active">
                <a ui-sref="index.transaction">
                    <i class="fa fa-university" aria-hidden="true"></i>
                    <span class="nav-label" ng-bind="curLanguage.TRANSACTIONS"></span>
                </a>
            </li>
            <!--<li ng-if="currentUser.status !== 0" ui-sref-active="active">-->
                <!--<a ui-sref="index.statistics"><i class="fa fa-bar-chart"></i> <span class="nav-label">Statistics</span></a>-->
            <!--</li>-->
            <!--<li ng-if="currentUser.status !== 0 && profile.user.password" ui-sref-active="active">-->
                <!--<a ui-sref="index.email"><i class="fa fa-desktop"></i> <span class="nav-label">Edit email</span></a>-->
            <!--</li>-->
            <li ng-if="(!profile.user.socials || profile.user.socials.length == 0) && currentUser.status !== 0 && profile.user.authType == 1"
                ui-sref-active="active">
                <a href="#" ng-click="authViaFacebook('syncFB')">
                    <i class="fa fa-facebook"></i>
                    <span class="nav-label" ng-bind="curLanguage.ADD_FB"></span>
                </a>
            </li>
            <li ng-if="(!profile.user.socials.length == 0) && currentUser.status !== 0 && profile.user.authType == 1" ui-sref-active="active">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                    <span class="nav-label" ng-bind="curLanguage.SYNCHRONIZED"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>