<section class="landing term-section gray-bg" affix-header>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" ui-sref="login({modal: true})"></a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="col-lg-10 col-lg-offset-1">
            <h1 class="title text-center">Privacy Policy</h1>
            <p>
                Date: November 2016 <br>
                <b>aCommerce Co., Ltd</b> (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) operates the Smartship Shipping Portal<br>
                (the &quot;Service&quot;).
            </p>
            <p>
                This page informs you of our policies regarding the collection, use and disclosure of
                Personal Information when you use our Service.
            </p>
            <p>
                We will not use or share your information with anyone except as described in this
                Privacy Policy.
            </p>
            <p>
                We use your Personal Information for providing and improving the Service. By
                using the Service, you agree to the collection and use of information in accordance
                with this policy. Unless otherwise defined in this Privacy Policy, terms used in this
                Privacy Policy have the same meanings as in our Terms and Conditions.
            </p>
            <h2 class="subtitle">Information Collection And Use</h2>
            <p>
                While using our Service, we may ask you to provide us with certain personally
                identifiable information that can be used to contact or identify you. Personally
                identifiable information may include, but is not limited to, your email address, name,
                phone number, postal address, other information (&quot;Personal Information&quot;).
                Log Data
            </p>
            <p>
                We collect information from your Facebook Profile when you register for our
                Service and from your Smartship Session when using our Service (&quot;Log Data&quot;). This
                Log Data may include information such as your profile information, check in
                locations, browser type, browser version, the pages of our Service that you visit, the
                time and date of your visit, the time spent on those pages and other statistics.
            </p>
            <p>
                In addition, we may use third party services such as Google Analytics that collect,
                monitor and analyze this type of information in order to increase our Service&#39;s
                functionality. These third party service providers have their own privacy policies
                addressing how they use such information.
            </p>
            <p>
                When you access the Service by or through a mobile device, we may collect certain
                information automatically, including, but not limited to, the type of mobile device
                you use, your mobile devices unique device ID, the IP address of your mobile device,
                your mobile operating system, the type of mobile Internet browser you use and
                other statistics.
            </p>
            <h2 class="subtitle">Location information</h2>
            <p>
                We may use and store information about your location. We use this information to
                provide features of our Service, to improve and customize our Service. You can
                enable or disable location services when you use our Service at anytime, through
                your mobile device settings.
            </p>
            <h2 class="subtitle">Cookies</h2>
            <p>
                Cookies are files with small amount of data, which may include an anonymous
                unique identifier. Cookies are sent to your browser from a web site and stored on
                your computer&#39;s hard drive.
            </p>
            <p>
                We use &quot;cookies&quot; to collect information. You can instruct your browser to refuse all
                cookies or to indicate when a cookie is being sent. However, if you do not accept cookies,
                you may not be able to use some portions of our Service.
            </p>
            <h2 class="subtitle">Service Providers</h2>
            <p>
                We may employ third party companies and individuals to facilitate our Service, to
                provide the Service on our behalf, to perform Service-related services or to assist us
                in analyzing how our Service is used.
            </p>
            <p>
                These third parties have access to your Personal Information only to perform these
                tasks on our behalf and are obligated not to disclose or use it for any other purpose.
            </p>
            <h2 class="subtitle">Security</h2>
            <p>
                The security of your Personal Information is important to us, but remember that no
                method of transmission over the Internet, or method of electronic storage is 100%
                secure. While we strive to use commercially acceptable means to protect your
                Personal Information, we cannot guarantee its absolute security.
            </p>
            <h2 class="subtitle">International Transfer</h2>
            <p>
                Your information, including Personal Information, may be transferred to — and
                maintained on — computers located outside of your state, province, country or
                other governmental jurisdiction where the data protection laws may differ than
                those from your jurisdiction.
            </p>
            <p>
                If you are located outside Thailand and choose to provide information to us, please
                note that we transfer the information, including Personal Information, to Thailand
                and process it there.
            </p>
            <p>
                Your consent to this Privacy Policy followed by your submission of such information
                represents your agreement to that transfer.
            </p>
            <h2 class="subtitle">Links To Other Sites and Mobile Applications</h2>
            <p>
                Our Service may contain links to other sites and Mobile Applications that are not
                operated by us. If you click on a third party link, you will be directed to that third
                party&#39;s site or Mobile Application. We strongly advise you to review the Privacy
                Policy of every site and Mobile Application you visit.
            </p>
            <p>
                We have no control over, and assume no responsibility for the content, privacy
                policies or practices of any third party sites or services.
            </p>
            <h2 class="subtitle">Changes To This Privacy Policy</h2>
            <p>
                We may update our Privacy Policy from time to time. We will notify you of any
                changes by posting the new Privacy Policy on this page.
            </p>
            <p>
                You are advised to review this Privacy Policy periodically for any changes. Changes
                to this Privacy Policy are effective when they are posted on this page.
            </p>
        </div>
    </div>
</section>