<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg m-b-none" role="navigation">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ng-click="logOut()">
                    <i class="fa fa-sign-out"></i>
                    <span ng-bind="curLanguage.LOG_OUT"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>