<div>
    <h1>
        Create order
    </h1>
    <form class="create-order-form" role="form" id="orderAddForm" name="orderAddForm"
          ng-submit="saveOrder(orderAddForm.$valid, newOrder)" novalidate>
        <div class="form-group">
            <div><label for="name">Item Name</label></div>
            <input class="form-control" name="name" type="text" placeholder="Item name" ng-model="newOrder.orderName"
                   id="name" required>
            <ng-messages for="orderAddForm.name.$error" role="alert">
                <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
            </ng-messages>
        </div>
        <div class="form-group">
            <div><label for="receiverName">Receiver Name</label></div>
            <input class="form-control" type="text" placeholder="Receiver name" ng-model="newOrder.receiverName"
                   id="receiverName">
        </div>
        <div class="form-group">
            <label for="email">Receiver Email Address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter email"
                   ng-model="newOrder.receiverEmail"
                   minlength="6" maxlength="50"
                   ng-pattern="/^[_a-z0-9.!#$%&'*+/=?^_`{|}~-]+(\.[_a-z0-9.!#$%&'*+/=?^_`{|}~-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                   required>
            <ng-messages for="orderAddForm.email.$error" role="alert">
                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>
            </ng-messages>
        </div>
        <div class="form-group">
            <div><label for="phone">Receiver Phone Number</label></div>
            <input class="form-control" type="number" placeholder="Phone number" ng-model="newOrder.phone" limit-to="20"
                   id="phone">
        </div>
        <div class="form-group">
            <div><label for="postcode">Postcode</label></div>
            <input class="form-control" type="text" placeholder="Postcode" ng-model="newOrder.postcode" limit-to="5" id="postcode">
        </div>
        <div class="form-group">
            <div><label for="district">District</label></div>
            <input class="form-control" type="text" placeholder="District" ng-model="newOrder.district" id="district">
        </div>
        <div class="form-group">
            <div><label for="province">Province</label></div>
            <input class="form-control" type="text" placeholder="Province" ng-model="newOrder.province" id="province">
        </div>
        <div class="form-group">
            <div><label for="address">Address</label></div>
            <input class="form-control" type="text" placeholder="Address" ng-model="newOrder.address" name="address"
                   minLength="10" id="address" required>
            <ng-messages for="orderAddForm.address.$error" role="alert">
                <ng-messages-include ng-if="submitted" src="error-messages">...</ng-messages-include>

            </ng-messages>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary block full-width m-b">Create</button>
        </div>

        <p class="error" ng-show="error && submitted">{{error.message}}</p>
        <p class="error" ng-show="!orderAddForm.$valid && submitted && !error">Please, fill in all fields!</p>
    </form>
</div>

<!--error messages template-->
<script type="text/ng-template" id="error-messages">
    <div ng-message="required">This field is required!</div>
    <div ng-message="maxlength">Field is too large!</div>
    <div ng-message="email">Email is not correct!</div>
    <!--<div ng-message="password">Password required!</div>-->
</script>