<section class="landing info-section white-bg" ng-class="{fullscreen: fullScreen}" affix-header>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/home" ui-sref="login"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" ng-click="openLoginDialog()" class="btn btn-primary"
                                ng-bind="curLanguage.LANDING_LOGIN_SIGN_UP">
                        </button>
                    </li>
                </ul>
            </div>
            <!--lang list start-->
            <ul class="lang-list">
                <li>
                    <a href="#" class="flag flag-gb" ng-click="currentLanguage(languages.english)"></a>
                </li>
                <li>
                    <a href="#" class="flag flag-th" ng-click="currentLanguage(languages.thai)"></a>
                </li>
            </ul>
            <!--lang list end-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 m-b-md text-center">
                <h2 class="m-b-md" ng-bind="curLanguage.FOLLOW_THE_STEPS"></h2>
                <iframe class="video-box" src="https://drive.google.com/file/d/0B4WI3va8ii5hU2dHQ20zWXhvRTA/preview??portrait=0&amp;badge=0&amp;player=0&amp;" width="640" height="480"
                        rameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-b-md text-center">
                <h2 class="m-b-md" ng-bind="curLanguage.DROP_OFF_AT_ONE"></h2>
                <div class="map-holder" ng-class="{open: showSidebar, detail: showDetail}">
                    <div class="toolbar">
                        <button type="button" class="btn pull-left" ng-click="showSidebar = !showSidebar" ng-class="{active: showSidebar}">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn pull-left" ng-click="typeId = !typeId" ng-class="{active: typeId}">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn pull-right" ng-click="fullScreenMap()" ng-class="{active: fullScreen}">
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                    <aside class="panel white-bg">
                        <ul class="list">
                            <li ng-repeat="partner in partnersName track by $index">
                                <input type="checkbox" class="checkbox-text" id="partner{{$index}}" ng-value="partner.name"
                                       ng-click="toggleCheck(partner.type)" ng-checked="isChecked(partner.type)">
                                <label for="partner{{$index}}" class="main-label" ng-bind="partner.name"></label>
                                <ul ng-if="isChecked(partner.type)">
                                    <li ng-repeat="(key, value) in markerList['list' + $index]" ng-click="getCurentMarker(value)"
                                        ng-class="{active: value.postcode === place.postcode && value.serviceType === place.sType}"
                                        ng-bind="value.postOffice + ' ' + value.postcode">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                    <aside class="detail-panel">
                        <header class="heading">
                            <div class="img-holder" ng-if="place.mainPhoto">
                                <img src="{{place.mainPhoto}}" alt="{{place.name}}">
                            </div>
                            <h3 class="title">
                                <i class="fa fa-arrow-left btn-back" aria-hidden="true" ng-click="showDetail = false"></i>
                                <span ng-bind="place.postOffice + ' ' + place.postcode"></span>
                            </h3>
                        </header>
                        <ul class="contact-list gray-bg">
                            <li>
                                <span class="note">Name</span>
                                <h3 ng-bind="place.postOffice + ' ' + place.postcode"></h3>
                            </li>
                            <li ng-if="place.localPhone">
                                <span class="note">Description</span>
                                <h3 ng-bind="place.localPhone"></h3>
                            </li>
                        </ul>
                        <ul class="contact-list">
                            <li>
                                <span class="note">Details from Google Maps</span>
                                <h3 ng-bind="place.formatted_address"></h3>
                            </li>
                            <li ng-if="place.international_phone_number">
                                <h3 ng-bind="place.international_phone_number"></h3>
                            </li>
                            <li>
                                <a href="{{place.url}}" target="_blank">View in Google Maps</a>
                            </li>
                        </ul>
                        <div class="view-box">
                            <span class="note p-w-m ">Street View Image</span>
                            <div class="img-holder">
                                <img src="{{src}}" alt="{{place.name}}">
                            </div>
                        </div>
                    </aside>
                    <ng-map class="map" center="{{defOptions.coords.lat}},{{defOptions.coords.lng}}" on-center-changed="centerChanged()"
                            zoom="{{defOptions.zoom}}" map-type-control="false"
                            map-type-id="{{typeId ? defOptions.type_id.satellite : defOptions.type_id.roadmap}}">
                        <marker ng-repeat="pos in positions track by $index" icon="{{defOptions.icon}}"
                                position="{{pos.latitude}},{{pos.longitude}}"
                                on-click="getDetail(this)"></marker>
                    </ng-map>
                </div>
            </div>
        </div>
    </div>

</section>