<section class="promo-page">
    <div class="container-fluid">
        <div class="info-block">
            <div class="row">
                <div class="col-lg-12">
                    <h1 id="logo"></h1>
                </div>
            </div>
            <h2 class="title" ng-bind="curLanguage.A_NEW_DAWN_FOR_ECOMMERCE"></h2>
            <h3 class="subtitile" ng-bind="curLanguage.SELECT_COUNTRY"></h3>
            <ul class="list">
                <li ng-repeat="country in countries">
                    <a ui-sref="{{country.available ? 'login' : 'promo'}}">
                        <div class="img-holder">
                            <img src="{{country.flag}}" alt="{{country.name}}">
                        </div>
                        <h3 ng-bind="country.name"></h3>
                        <span ng-if="!country.available" class="note" ng-bind="curLanguage.COMING_SOON"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>