* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Calibri, Arial;
    font: bold italic 24px Calibri;
    padding-top: 100px;
}

.logo {
    width: 250px;
    display: block;
    margin: 0 auto;
}

ul {
    max-width: 600px;
    list-style-type: none;
}

.image-container {
    margin: 0 auto;
}

.right-side {
    text-align: center;
    width: 300px;
    padding-left: 20px;
}

.label-container {
    width: 80%;
    margin: 0 auto;
    border: solid 2px #000000;
    padding: 60px 40px 60px 5px;
}

#partnerName {
    word-wrap: break-word;
}

table {
    padding: 20px;
}

@page { size: auto;  margin: 0mm; }