<div class="middle-box text-center _loginscreen  animated fadeInDown">
    <div>
        <p>Smart-Ship Admin panel</p>

        <form id="registerForm" name="registerForm" class="m-t" role="form" ng-submit="auth(registerForm.$valid, user)"
              novalidate>
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="Username" ng-disabled="showCodeInput"
                       ng-model="user.email" required>
                <ng-messages for="registerForm.email.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password"
                       ng-model="user.password" ng-disabled="showCodeInput" min="6" required>
                <ng-messages for="registerForm.password.$error" role="alert">
                    <ng-messages-include ng-if="submitted" src="error-messages"></ng-messages-include>
                </ng-messages>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-show="showCodeInput"
                    ng-click="resetSigninForm()">Reset form
            </button>
        </form>

        <div class="row text-center" ng-if="qrImage">
            <img ng-src="{{qrImage}}">
            <br>
            <a class="text-center" ng-href="{{qrImage}}" style="word-break: break-all;" target="_blank">{{qrImage |
                limitTo: 90}}</a>
        </div>

        <p class="error" ng-show="error">{{error}}</p>
    </div>
</div>


<!--error messages template-->
<script type="text/ng-template" id="error-messages">
    <div ng-message="required">This field is required!</div>
    <div ng-message="email">Email is not correct!</div>
    <div ng-message="password">Password is not correct!</div>
    <div ng-message="password">Password should be at least 6 characters long!</div>
</script>