<p>
Process payment for SmartShip User. See details below:
</p>

User Name: {{name}} <br>
Withdrawal Amount: {{amount}} THB <br>
Bank Name: {{bankName}} <br>
Bank Account Holder Name: {{cardholderName}} <br>
Bank Account Number: {{accountNumber}}