<p>
We're super excited that you've decided to join our community of sellers that are shipping locally and internationally everyday with Smartship!<br>
</p>

<p>
To get you started here is how you can create a shipment:
</p>

<ul style="list-style: none">
    <li>1. Login <a href="{{link}}">here</a></li>
    <li>2. Click on the Shipping Packages Icon to see all shippings packages and choose your favorite - start with a Curious package :)</li>
    <li>3. Once you’ve bought it, click on Orders button then Create order button and fill in the receiver address and item's details.</li>
    <li>4. Click on the Create button to confirm!</li>
</ul>


<p>
If you run into any questions, feel free to reply back to this email or give us a call on xxxx.
</p>

<p>
From your friends at Smartship !
</p>