<p>
เราตื่นเต้นเป็นอย่างมากที่พวกคุณต้องการที่จะเข้าร่วมเป็นกลุ่มของผู้ค้าที่จะส่งสินค้าทั้งในท้องถิ่นและทั่วโลกกับ Smartship!
</p>

<p>
เพื่อเป็นการเริ่มต้น นี่คือวิธีการสร้าง Shipment:
</p>

<ul style="list-style: none">
    <li>1. ลงชื่อเข้าใช้ <a href="{{link}}">ที่นี่</a></li>
    <li>2. คลิกที่ปุ่ม แพ็กเกจการขนส่ง เพื่อดูรายการแพ็กเกจทั้งหมดของเรา และเลือกแพ็กเกจที่เหมาะกับคุณ - เริ่มต้นที่ Curious package :)</li>
    <li>3. เมื่อคุณซื้อแพ็กเกจเรียบร้อยแล้ว คลิกที่ปุ่ม ออเดอร์ แล้วตามด้วยปุ่ม สร้างออเดอร์ จากนั้นก็ใส่ข้อมูลที่อยู่ผู้รับและข้อมูลสินค้า</li>
    <li>4. คลิกที่ปุ่ม สร้างออเดอร์ เพื่อยืนยัน</li>
</ul>

<p>
ถ้าหากมีข้อสงสัย กรุณาแจ้งเรามาที่อีเมล์นี้ หรือโทรหาเราที่ xxxx.
</p>

<p>
จาก Smartship !
</p>