<p>Thank you for your withdrawal request. Our team has started the withdrawal process and you should have your money returned to you within 14 days.</p>

<p>If you have any questions feels free to contact us via email xxx or call our call center on xxx</p>

<p>Thank you once again for using Smartship !</p>

<p>Kind Regards <br>
Your Smartship Team</p>
