<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="/css/ejs.css" rel="stylesheet">
    <title>Smartship</title>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInDown">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center m-t-lg" style="padding: 20px">
                <small>
                    <img src="/img/logo.png" alt="Smartship" width="440" height="108">
                </small>
            </div>
            <!--<div class="col-lg-6 text-center">-->
            <form id="newPasswordForm" style="padding: 20px"
                  name="newPasswordForm" class="m-t" role="form" novalidate>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" required>

                </div>
                <div class="form-group">
                    <input name="passwordRepeat" type="password" class="form-control" required>

                </div>
                <div class="text-center">
                    <button type="submit" name="button" id="sendNewPass"
                            class="btn btn-primary block full-width m-b">Change</button>
                </div>
            </form>
            <!--</div>-->
        </div>
    </div>
</div>

<script>

    var curLanguage = JSON.parse(localStorage.getItem('language'));
    var newPasswordForm = document.getElementById('newPasswordForm');

    newPasswordForm.password.setAttribute('placeholder', curLanguage.PASSWORD);
    newPasswordForm.passwordRepeat.setAttribute('placeholder', curLanguage.PASSWORD + ' ' + curLanguage.CONFIRM);

    function showError(container, errorMessage, flag) {

        var msgElem = document.createElement('span');
        msgElem.className = 'error';
        msgElem.innerHTML = errorMessage;

        if (flag) {
            var divElem = document.createElement('div');
            divElem.appendChild(msgElem);
            container.appendChild(divElem);
            return;
        }
        container.appendChild(msgElem);
    }

    function resetError(container) {
        container.removeChild(container.lastChild);
    }

    function validate(form) {
        var elems = form.elements;

        resetError(elems.password.parentNode);
        if (!elems.password.value) {
            showError(elems.password.parentNode, curLanguage.PUT_NEW_PASSWORD);
            return false
        } else if (elems.password.value != elems.passwordRepeat.value) {
            showError(elems.password.parentNode, curLanguage.PASSWORD_DOES_NOT_MATCH);
            return false
        } else if (elems.password.value.length < 5) {
            showError(elems.password.parentNode, curLanguage.INPUT_AT_LEAST_SYMBOLS);
            return false
        }
        return true
    }


    var sendPass = document.getElementById('sendNewPass');

    var formSendPass = document.getElementById('newPasswordForm');

    function limitTo() {
        for (var i = 0; i < formSendPass.elements.length; i++) {
            if (formSendPass.elements[i].name !== 'button') {
                formSendPass.elements[i].addEventListener('keypress', function (e) {
                    if (this.value.length == 20) e.preventDefault();
                })
            }
        }
    }

    limitTo();
    

    formSendPass.onsubmit = function () {

        var token = getQueryString('token', window.location.href);

        var checker = validate(formSendPass);

        if (checker) {

            var xhr = new XMLHttpRequest();

            xhr.open('PATCH', '/api/v1/users/newpassword', true);

            xhr.setRequestHeader('Authorization', token);
            xhr.setRequestHeader('Content-Type', 'application/json');

            var data = {
                password: formSendPass.password.value
            }

            var res = JSON.stringify(data);

            xhr.send(res);

            xhr.onreadystatechange = function () {

                if (xhr.readyState != 4) return;

                if (xhr.status == 200) {
                    alert(curLanguage.CHANGED_PASSWORD);
                    window.location.href = '/home';
                } else {
                    showError(sendPass.parentNode, JSON.parse(xhr.responseText).message, true)
                }
            }
        }


        return false;

    }

    var getQueryString = function ( field, url ) {
        var href = url ? url : window.location.href;
        var reg = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
        var string = reg.exec(href);
        return string ? string[1] : null;
    };

</script>

</body>
</html>