<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <small>
                    <img src="/img/imageedit_3_6701148137.png" alt="...">
                </small>
            </div>
        </div>
    </div>
</div>