<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <title>smartship</title>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInDown">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="text-center m-t-lg">
                <h1 class="title"></h1>
                <a href="/" class="btn btn-primary"></a>
            </div>
            </div>
        </div>
    </div>
</body>
<script>
    var curLanguage = JSON.parse(localStorage.getItem('language'));
    var btn = document.getElementsByClassName('btn')[0];
    var title = document.getElementsByClassName('title')[0];

    btn.textContent = curLanguage.BACK_TO_SMARTSHIP;
    title.textContent = curLanguage.CHANGED_PASSWORD_2;
</script>
</html>